[2018-02-28 17:19] spottedmahn opened #1 "Where's the GitHub Preview Tab?"
When I'm creating issues on docs.microsoft.com does all of markdown goodness work?  After submitting another issue, I now see it does but it is not obvious.  Where's my preview tab that renders my markdown?!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e

[2018-02-28 17:21] spottedmahn opened #2 "Paste Images Not Supported"
One feature I really love about GitHub issues is the ability to paste images from the clipboard directly to an issue.  That's is not working here on docs.microsoft.com 😢

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e693833-3e45-2bb8-ddc2-d0c54936c3c1
* [

[2018-03-01 14:10] Vijay-Nirmal opened #3 "It's time to remove Stack Overflow Documentation integration"
It's time to remove [Stack Overflow Documentation integration](https://docs.microsoft.com/en-us/teamblog/stackoverflow-documentation-for-microsoft-developers) because [Stack Overflow Documentation](https://stackoverflow.com/documentation/) is dead.

Source:  [Stack Overflow Documentation](https://stackoverflow.com/documentation/)

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2018-03-01 16:25] dend commented on #3
Hi @Vijay-Nirmal - the article you are referencing above is a blog post related to a previous announcement. It's not official documentation for a product.

[2018-03-01 16:25] #3 closed

[2018-03-01 18:49] Narvey commented on #2
If this is a feature suggestion, I don't think it is actually Documentation Feedback. If you want to request the ability to paste images from within Documentation, I think you should use the [Feedback Site for Microsoft Docs](https://msdocs.uservoice.com/forums/364242-general-site-feedback) (also accessible by clicking the "Product Feedback" button under the article).

Note: There is a workaround

[2018-03-01 19:08] spottedmahn commented on #2
Hi @Narvey - good point, it is a feature request.  I'll submit a feedback item.

And yes, good workaround!

[2018-03-01 19:14] #2 closed

[2018-03-01 19:16] spottedmahn commented on #1
UserVoice feedback item created: [Add Preview Tab for GitHub Documentation Feedback](https://msdocs.uservoice.com/forums/364242-site-feedback/suggestions/33496399-add-preview-tab-for-github-documentation-feedback)

[2018-03-02 02:10] dend commented on #1
Thanks @spottedmahn! Closing this issue as it is product feedback.

[2018-03-02 02:10] #1 closed

[2018-03-02 19:11] joshbooker opened #4 "Activity Log?"
Happy to see Livefyre go.  Is there some sort of activity feed for github document feedback?  I like disqus for this reason.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e693833-3e45-2bb8-ddc2-d0c54936c3c1
* [Content](https://docs.microsoft.com/en-us/tea

[2018-03-02 19:16] joshbooker commented on #4
I see that this comment shows up in my github activity.  hmmm....still processing how I feel about that....processing...

[2018-03-03 09:30] wpitallo opened #5 "MethodAccessException: Attempt by method Microsoft.Azure.CosmosDB.Table.TableEntity.set_DisableCompiledSerializers(Boolean)"
Hi I am not sure where to get help with cosmos issues.

There seems to be an issue when trying to initilize an inherited Table

using Microsoft.Azure.CosmosDB.Table;
using Server.Base.Azure.Table.Adapters;
using Microsoft.Azure.Storage.Core;
using System;
using System.Collections.Generic;
using System.Linq;
using System.Threading.Tasks;

namespace Server.Base.Azure.Table.Models
{
public class Cosm

[2018-03-03 14:09] StingyJack opened #6 "There shouldn't a difference between product and documentation feedback."
If something doesn't work, as a user how am I supposed to know if its a bug in the product or its documentation?

Also, I'm inevitably going to put something in the "wrong" bucket and it will get closed with a "this is for the other feedback, open it there".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-

[2018-03-05 17:30] mgkuhn commented on #6
I disagree. In the old system, you could *only* provide feedback on the documentation, i.e. you could only attach your feedback to a specific web page of the documentation. It was far from obvious how (and on which specific documentation page) to provide feedback about a product defect that is not related to a specific page of the documentation. Spreading product feedback across documentation web

[2018-03-06 01:40] StingyJack commented on #6
Perhaps part of the error is in thinking the old system was or was not only for documentation feedback.

Docs has always been easier to find, and as I dont work at/for MSFT or have an "in", its historically about the only place I could get help outside of stackoverflow (SO has been invaluable, but its generally still outsiders like me, postulating and speculating). If I'm having a problem with the

[2018-03-06 10:08] mariuscotor commented on #5
just for testing: PSD - Ciuma rosie!

[2018-03-06 18:40] scout208 commented on #6
Yeah, I have to agree with StingyJack, at least on the last point. I knew that if there was something in the documentation that should be changed, I would make a GitHub issue for it. But, if I had some question about how a feature of the product the documentation was for was supposed to work, that's when I would usually post the comment using LiveFyre. I didn't realize that the comments on the doc

[2018-03-06 19:33] masterpuma opened #7 "SEO/OWNER/PRESIDENT /"
MASTER

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e693833-3e45-2bb8-ddc2-d0c54936c3c1
* [Content](https://docs.microsoft.com/en-us/teamblog/a-new-feedback-system-is-coming-to-docs#your-feedback)
* [Content Source](https://github.com/MicrosoftDocs/blog/

[2018-03-07 03:06] #7 closed

[2018-03-07 07:35] nguyenthanhliemfc opened #8 "More language support"
Please support Vietnamese documents

---
#### Chi tiết tài liệu

⚠ *Không chỉnh sửa phần này. Điều này là bắt buộc cho docs.microsoft.com ➟ Vấn đề khi liên kết GitHub.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e693833-3e45-2bb8-ddc2-d0c54936c3c1
* Content: [A New Feedback System Is Coming to docs.microsoft.com | Microsoft Docs](https://docs.microsoft.com/vi-vn/teamblo

[2018-03-09 17:19] thedanfernandez opened #9 "Can we label this January 2018 release Notes?"
## Get to work Den!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e493b93-e2f1-f396-9e87-d62dc93fbd04
* Version Independent ID: a32343b9-b3d8-32be-4a27-c57bb0a20453
* Content: [Starting 2018 With docs.microsoft.com Improvements | Microsoft Docs](https://docs.microsoft.com/en-us/teamblog/release-notes-start-2018#feedb

[2018-03-10 19:04] Erroldoriel opened #10 "this is an issue"
Here is a problem

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e693833-3e45-2bb8-ddc2-d0c54936c3c1
* Content: [A New Feedback System Is Coming to docs.microsoft.com | Microsoft Docs](https://docs.microsoft.com/en-us/teamblog/a-new-feedback-system-is-comi

[2018-03-11 17:50] #10 closed

[2018-03-13 00:22] raul805 opened #11 "this is an issue"
here is a problem

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e693833-3e45-2bb8-ddc2-d0c54936c3c1
* Content: [A New Feedback System Is Coming to docs.microsoft.com | Microsoft Docs](https://docs.microsoft.com/en-us/teamblog/a-new-feedback-system-is-comi

[2018-03-13 06:19] 70884 opened #13 "MOAR"
Добавление информации или дополнительных сведений

---
#### Сведения о документе

⚠ *Не вносите правки в этот раздел. Это необходимо для связывания страницы сайта docs.microsoft.com с вопросом на GitHub.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e693833-3e45-2bb8-ddc2-d0c54936c3c1
* Content: [A New Feedback System Is Coming to docs.microsoft.com | Microsoft Docs](http

[2018-03-13 17:08] gstand opened #14 "This is a test."
How is your day?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e693833-3e45-2bb8-ddc2-d0c54936c3c1
* Content: [A New Feedback System Is Coming to docs.microsoft.com | Microsoft Docs](https://docs.microsoft.com/en-us/teamblog/a-new-feedback-system-is-comin

[2018-03-13 19:49] #14 closed

[2018-03-13 19:49] #13 closed

[2018-03-13 19:50] #11 closed

[2018-03-13 21:25] gregdegruy opened #15 "This is a Lol"
Hello Lols

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e693833-3e45-2bb8-ddc2-d0c54936c3c1
* Content: [A New Feedback System Is Coming to docs.microsoft.com | Microsoft Docs](https://docs.microsoft.com/en-us/teamblog/a-new-feedback-system-is-coming-to-d

[2018-03-13 21:30] gregdegruy commented on #15
Seriously though. How can I branch and give direct doc feedback now? https://docs.microsoft.com/en-us/dynamics365/customer-engagement/developer/clientapi/reference/xrm-navigation/openalertdialog The feedback button just brings me to the comment section. I can always go directly to GitHub I suppose. https://github.com/MicrosoftDocs/dynamics-365-customer-engagement-pr

[2018-03-13 22:11] tomresing opened #16 "Glad to see you're testing the new feedback buttons here."
This release notes article is the first time I've seen the new "Give documentation feedback" button work this well. I like how it allows adding the feedback to GitHub without leaving the page and it shows on the page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e493b93-e2f1-f396-9e87-d62dc93fbd04
* Version Independ

[2018-03-14 05:39] MTRuchi opened #17 "How can i view my previous comments?"
I had asked a question in January/early February on one of the support pages which was answered subsequently by someone from support. I needed to refer to it again, but it is now not there because content has been moved to Github. How can I see the previous comment and solution?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-03-14 17:15] JuanKRuiz opened #18 "Influencer Program Strategy Lead - Broken"
This URL is broken:: *Influencer Program Strategy Lead (1109064) new*
https://careers.microsoft.com/JobDetails.aspx?ss=&pg=0&so=&rw=1&jid=349503&jlang=EN&pp=SS

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94615642-7eb7-83dd-52f1-ef6b78c687cf
* Version Independent ID: 69e13745-a61d-9309-96b8-c102d01a70ec
* Content: [J

[2018-03-15 13:45] DeanGross opened #19 "page layout"
Given that this site is about documentation, i find pages like this with huge pictures to be very inefficient. They just force me to scroll to get to the content I want to read (I'm not here for the pictures :)).
Pictures should only be included in docs.microsoft.com when they are providing visual information that is necessary to help understand the content, i.e., screen shots and flow charts.

--

[2018-03-16 06:52] stenpney opened #20 "Double glaze repair"
Double glaze repair is a thing that numerous business owners want they could try to escape through, primarily the greater creative folks in our midst. It's thought to be the actual antithesis of the imaginative strategy through a number of people; online marketing makes company promotion much easier, even for individuals who could possibly have prior to this avoided this. http://all4webs.com/wheth

[2018-03-16 09:40] maraf opened #21 "Just a simple test"
A just want to test what's going on when submitting comment here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e693833-3e45-2bb8-ddc2-d0c54936c3c1
* Content: [A New Feedback System Is Coming to docs.microsoft.com](https://docs.microsoft.com/en-us/teamblo

[2018-03-16 09:41] maraf commented on #21
It's ok.

[2018-03-16 09:41] #21 closed

[2018-03-16 12:24] stenpney opened #22 "SJH Plant Equipment"
SJH Plant Equipment operating utilizing distributor or perhaps a house lets 1 make evaluations and to acquire experience. Upgrading in order to brand new technologies can let you run a task better. Leasing offers a means to look at that and determine job-site as well as rebirth advantages that’ll allow it to be easier to warrant the equipment purchase. http://freetexthost.com/63zklwewkp

---
####

[2018-03-16 13:23] StingyJack opened #23 "this panel does not honor the back button properly"
if i click a link and navigate elsewhere, going back does not show this section as it was

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e693833-3e45-2bb8-ddc2-d0c54936c3c1
* Content: [A New Feedback System Is Coming to docs.microsoft.com](https://docs.mic

[2018-03-16 13:27] StingyJack opened #24 "Improve the color contrast for the typing area in comments"
where i need to type is the word Description, and looks like a caption (not greyed out, terse). Its nice you didnt just use a bottom border, but if you must follow this newish fad please use something like "type your description here" in grey.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f81

[2018-03-16 14:22] MarcioAB opened #25 "Roll-Out = mid-February ... why not rolled out mid-March ?"
This post says the new feedback system will start to be rolled out in mid-Feb, but we are mid-March and I do not see much rolled out. What to expect about time ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e693833-3e45-2bb8-ddc2-d0c54936c3c1
* Content:

[2018-03-16 15:28] kamranbashir opened #26 "How to use IdentityServer3 or 4 in Azure B2c as custom policy"
Sor far tried this, but did not work
<ClaimsProviders>
	<ClaimsProvider>
		<Domain>TCSL</Domain>
		<DisplayName>Login using TCSL</DisplayName>
		<TechnicalProfiles>
			<TechnicalProfile Id="ContosoProfile">
				<DisplayName>TCSL Employee</DisplayName>
				<Description>Login with your TCSL account</Description>
				<Protocol Name="OpenIdConnect"/>
				<OutputTokenFormat>JWT</OutputTokenFormat>

[2018-03-16 16:37] #20 closed

[2018-03-16 16:38] #22 closed

[2018-03-17 13:06] george-wong opened #27 "error: The size of the provided stream is not known. Make sure the request is not chunked, and the Content-Length header is specified"
when I use the "Upload bytes to the upload session" api, I received that error by the OneDrive for Business account. However, Using the OneDrive personal account, that is right.

[code]
[code]

[2018-03-17 18:26] FFMartin opened #28 "Just a test..."
Testing it for myself...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e693833-3e45-2bb8-ddc2-d0c54936c3c1
* Content: [A New Feedback System Is Coming to docs.microsoft.com](https://docs.microsoft.com/en-us/teamblog/a-new-feedback-system-is-coming-to-docs

[2018-03-17 18:28] FFMartin commented on #28
Closed ^^

[2018-03-17 18:28] #28 closed

[2018-03-18 00:45] dend commented on #27
Hi @george-wong - this is better suited for content feedback than team blog comment. Make sure to leave this comment on the relevant article, or contact the team directly.

[2018-03-18 00:45] #27 closed

[2018-03-18 11:31] andrewconnell opened #29 "What about all the old comments?"
*Don't get me wrong... I like this new model. *

But what about all the old comments on docs? There were a LOT of relevant comments there... are they lost?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e693833-3e45-2bb8-ddc2-d0c54936c3c1
* Content: [A New

[2018-03-18 17:18] dend commented on #26
Hello! This looks like a product issue that you are encountering, and not directly connected to docs.microsoft.com - please make sure to use the correct team channel to make sure they see your feedback and can address it properly.

[2018-03-18 17:18] #26 closed

[2018-03-18 17:19] dend commented on #25
Hi @MarcioAB - we are in the process of rolling it out. It's already available for several large documentation sets.

[2018-03-18 17:19] dend commented on #29
Hi @andrewconnell - the old comments will be archived. We are working with content developers to make sure that any relevant information from comments is always integrated back into the documentation.

[2018-03-18 17:21] dend commented on #24
@ShevaDas can you help log this feedback item? It's in relation to the appearance of the comment box on docs.microsoft.com.

[2018-03-18 17:21] dend commented on #23
Hi @StingyJack - what section are you referring to?

[2018-03-18 17:24] dend commented on #19
Hi @DeanGross - can you comment on where you see a bad use of pictures?

[2018-03-18 17:25] dend commented on #18
Thanks for the feedback @JuanKRuiz - the article has been updated.

[2018-03-18 17:25] #18 closed

[2018-03-18 17:29] dend commented on #15
@gregdegruy teams are still transitioning to the GitHub model so it might take a bit for it to be enabled everywhere. In the meantime, going directly to the repo and contacting the team through that channel is the best way to do it.

[2018-03-18 17:29] #15 closed

[2018-03-18 17:31] dend commented on #9
Fixed in https://github.com/MicrosoftDocs/blog/pull/136

[2018-03-18 17:31] #9 closed

[2018-03-18 17:32] dend commented on #5
Hello! This seems to be related to a product issue and not docs.microsoft.com. Please refer to [Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/) documentation for more details.

[2018-03-18 17:32] #5 closed

[2018-03-18 21:14] wpitallo commented on #5
Where exactly should I post this question, the support for CosmosDB is terrible. Can't find a proper place to ask a question...

[2018-03-18 21:19] wpitallo commented on #5
Please can I have a proper address to ask a question and not just get re-directed back to the product page...

[2018-03-18 23:24] StingyJack commented on #23
The one where I entered the issue at on the docs page/blog post. (also that "content source" link above is a 404)
![image](https://user-images.githubusercontent.com/15381181/37572460-b9b500a4-2ae1-11e8-8468-504eeb765272.png)

[2018-03-18 23:50] guardrex opened #30 "Links don't resolve to job descriptions"
The links resolve to `https://careers.microsoft.com/`. It would be helpful if the position links resolved to job descriptions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94615642-7eb7-83dd-52f1-ef6b78c687cf
* Version Independent ID: 69e13745-a61d-9309-96b8-c102d01a70ec
* Content: [Join our team and make the world b

[2018-03-18 23:53] StingyJack commented on #24
To be clear I was having trouble with this when using my mobile (android/chrome).  On the mobile, this Description box...
![image](https://user-images.githubusercontent.com/15381181/37572488-1525830a-2ae2-11e8-9f4f-bf3a2dc6811f.png)
... has borders that are very faint and the word **Description** as very bold and fills the text area. On desktop browser its not as stark of a contrast of faint and b

[2018-03-19 04:14] dend commented on #30
@marywill99 can you please verify the feedback from @guardrex?

[2018-03-19 09:24] #29 closed

[2018-03-19 11:24] marywill99 commented on #30
Thank you Den. The Careers site has totally changed so all of our tags are gone…urg... I’m going to fix tonight.

M

From: Den Delimarsky <notifications@github.com>
Sent: Monday, March 19, 2018 12:15 PM
To: MicrosoftDocs/TeamBlogFeedback <TeamBlogFeedback@noreply.github.com>
Cc: Mary Williams <marywill@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/TeamBlogFeedbac

[2018-03-20 09:56] MNF commented on #17
A few weeks ago this page mentioned read only archive of old comments? What is progress of it?

[2018-03-20 15:25] Baffour commented on #25
@dend Is there visibility of this anywhere, such as a status page? I keep wanting to reply to comments and then remembering they'll disappear imminently as the new feedback system replaces comment threads.
If there is, could a link be added to this page under the roll out section?

[2018-03-20 18:12] MTRuchi commented on #29
Can you please let me know by when we will be able to view old comments?

[2018-03-22 11:33] LordLiverpool2 commented on #17
Throwing away all the old comments is vandalism. It means losing lots of valuable information. The justification is what... laziness?

[2018-03-22 12:13] StillLearnin commented on #19
Read the comment again.

My gut reaction to this page was similar. Why is there a picture? How does it fit? Oh, presumably it is a developer giving Microsoft some feedback. But it could just as easily be my aunt giving her cousin a tutorial on Facebook.

The picture in this case seems to be filling a purely cosmetic role which is fine for an advertisement but, in my opinion, **not really useful**

[2018-03-22 23:12] SteveBurkettNZ commented on #6
I'm finding all the product feedback links I've seen at the bottom of docs pages are sending me to the corresponding uservoice or ideas site for the product which are intended for Product Suggestions, not Product Feedback.

We've lost a place to often get direct clarifications on product usage/licensing/roadmaps from the product owner themselves, and to point out bugs and issues with that software

[2018-03-22 23:35] janakar commented on #30
Also the Edit Profile section in the new careers site won't work. It says "Ooops an error has occurred". Can you redirect this to the relevant team?

[2018-03-23 13:24] StingyJack commented on #6
uservoice is broken, or rather the way MSFT uses it is broken

https://developercommunity.visualstudio.com/content/problem/165853/the-vs-ide-uservoice-still-runs-out-of-votes.html

https://developercommunity.visualstudio.com/content/problem/56328/get-rid-of-uservoice.html

[2018-03-23 14:38] ShevaDas commented on #17
Hey everyone, thanks for the feedback. To quote Rob Eisenberg, the driving force behind the feedback system changeover:

@MNF is correct—we are looking into creating a read-only anonymized archive of old comments. However, the engineering work needed is significant due to the sheer volume of content, and needs to compete for prioritization against many other critical site changes. That means it ma

[2018-03-23 20:14] LordLiverpool2 commented on #17
There is a difference between the individuals who work at Microsoft, who are caught in the machine, and Microsoft as a whole. Our criticisms are directed at Microsoft as a company.

Yes, it is easy to criticise Microsoft, because they have form. For example, virtually every link to Microsoft pages you find on the web is broken, because you didn't bother to redirect from the old pages to the new on

[2018-03-26 13:31] actionaer commented on #24
What do you mean seriously?  If theres a field a Border and in that a transparent Word "Description" and thats perfect. If it would be a setence then it would look like you act. Keeping it simple.. and Windows anyways is full of words... than Linux for example

[2018-03-26 13:45] actionaer commented on #23
in my case, it looks perfect as it is. Exept i switched to Dark theme which is a need and handy too.

[2018-03-26 16:55] StingyJack commented on #24
Its not transparent on mobile. Its full dark and the border is light enough to get lost depending on the screen brightness.
![image](https://user-images.githubusercontent.com/15381181/37920003-9fb19402-30f3-11e8-940c-8e3300fceb27.png)

Its different (improved) than it was when I opened this issue, which was more like this...
![image](https://user-images.githubusercontent.com/15381181/37920182-2fc7

[2018-03-26 16:57] StingyJack commented on #23
@actionaer - click on the closed list, then click on an issue in that list and be navigated to it. Now click back in the browser.  Unless it was fixed, it was returning to the Open list, not the Closed list.

[2018-03-26 17:10] dend commented on #23
@ShevaDas as FYI on this ask.

[2018-03-26 17:11] dend commented on #24
+ @ShevaDas on this request.

[2018-03-27 06:08] JuanKRuiz opened #33 "CDA miss linked"
5th CDA job if miss linked

![image](https://user-images.githubusercontent.com/1454560/37949726-77920516-315b-11e8-8158-1c3ca52956b6.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94615642-7eb7-83dd-52f1-ef6b78c687cf
* Version Independent ID: 69e13745-a61d-9309-96b8-c102d01a70ec
* Content: [Join our team and make

[2018-03-27 17:48] #33 closed

[2018-03-27 17:48] dend commented on #30
This has now been addressed!

[2018-03-27 17:48] #30 closed

[2018-03-29 12:53] ywchiang0819121 opened #35 "cntk2.5 using keras"
cntk2.5 using keras may cause python crash.
After I installed cntk and changed my keras backend to cntk, i tried to verified my keras work.
However, I import keras before it crash and it didn't list any error message.
Then, I downgrade cntk to 2.4 and it works.

All cntk above, using GPU version

---
#### 文件詳細資料

⚠ *請勿編輯此區段。 這是 docs.microsoft.com ➟ GitHub 問題連結的必要項。*

* ID: 0193ed76-3eec-18ac-512f-

[2018-03-29 19:34] ziesemer commented on #17
I am now left scratching my head after having wasted an hour trying to go back and find some past context that was left regarding Azure Automation.  This is important.  I fully support that a change was needed, and that the improvements here are well worthwhile.  However, I agree with @LordLiverpool2 - the migration should have been postponed until there was at least some solution for the comment

[2018-03-30 18:06] ShevaDas commented on #23
@StingyJack thanks for the feedback! I've filed an issue in our internal work tracker to resolve this and will follow up here when it's complete.

[2018-03-31 07:57] patilsujata opened #36 "About output of Article"
Hello,
I'm Sujata Patil. This is the positive feedback for Azure ML help provided by you.It is very good and easy to understand.Please provide to deploy ML algorithm as output article need to update for our understanding.Thanks in adv.

Regards and Thanks,
Sujata Patil.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01

[2018-03-31 22:16] grahambunce commented on #17
@ShevaDas if Microsoft hadn't abandoned "proper" documentation years ago and decided to put "documentation" in the myriad of blogs and articles scattered across the web, only found by someone's ability to optimize a search request, then you wouldn't be in the mess you're in now in that *lots* of useful information is in comments/feedback scattered all over the place.

You want us (the consumers of

[2018-04-01 05:08] Aslameng opened #37 "this is an issue"
here is a problem

[2018-04-01 05:09] Aslameng commented on #37
nice

[2018-04-02 16:38] #37 closed

[2018-04-02 16:40] dend commented on #17
Hey folks, just a reminder to please keep it civil - we are working on a good solution for archiving past comments. Rest assured that the team is looking into this.

[2018-04-02 21:12] MNF commented on #17
@dend, can you start a good solution from changing the banner: explain,that comments will be available, not asking to “help yourself”? And do not migrate to GitHub new areas, until  the solution will be ready.

[2018-04-02 21:41] dend commented on #17
@MNF the migration work is happening behind the scenes as we speak - we do not ask customers to export their own comments at this time. The team will follow-up once we have more updates on the progress and availability of content.

[2018-04-03 16:04] marquessbr opened #38 "Onclick method for the children"
Hi!

How I can implement a OnClick method for all images assigned as a children of my wraplayout for when the user click in a image the OnClick make the image to be showed in the full screen?

thanks

[2018-04-03 16:36] dend commented on #38
@marquessbr what product is your question related to?

[2018-04-03 16:51] marquessbr commented on #38
the **ImageWrapLayout**, I need which they children have a onclick event for each one

[2018-04-03 17:52] dend commented on #38
@marquessbr right, but what API/product are you using? This site is for blog feedback, so we don't triage product issues here. I'd like to make sure I point you in the right direction.

[2018-04-03 19:00] marquessbr commented on #38
I dont is using any api, I got the example and try to implement it according my solution

[2018-04-03 20:33] marquessbr commented on #38
Hi my friend!
I solved this, I just implement one GesturReconize for each image I get and it work fine here,
thank you, I'll close this issue now!

[2018-04-03 20:33] #38 closed

[2018-04-04 00:08] ShevaDas commented on #24
Hi @StingyJack, thanks for the feedback. Due to accessibility requirements, we can't change the placeholder text color to be a lighter shade of grey as that would cause problems for users with visual impairments. However, I have filed an issue in our internal work tracker to update the placeholder text to read "Leave a comment" (à la GitHub) and will follow up when it's updated.

[2018-04-04 12:05] StingyJack commented on #24
@ShevaDas - That's fair, and I understand, Can you please reach out to the DevOps blog webmaster and get them to darken and enlarge the text in the comments box?

![image](https://user-images.githubusercontent.com/15381181/38306490-b5600efe-37de-11e8-81e4-badfc2827e80.png)
Example from https://blogs.msdn.microsoft.com/devops/2018/03/16/top-stories-from-the-vsts-community-2018-03-16/

[2018-04-05 08:15] NightFantomJ2 commented on #17
what is this then? [link to example site I happened to have open](https://docs.microsoft.com/en-us/python/api/overview/azure/monitoring?view=azure-python)
![image](https://user-images.githubusercontent.com/7152733/38354495-155fe5d2-38ba-11e8-9ef4-81219aeb6d0f.png)

[2018-04-05 17:37] dend commented on #17
@NightFantomJ2 that applies to a single comment thread - if you see some information that is super-important, we recommend you copy-paste it. Otherwise, you should wait for the content export to happen.

[2018-04-05 17:55] NightFantomJ2 commented on #17
@dend Thanks for clarifying that, I hope you understand my (our?) confusion on the matter however, as it's not worded clearly in that note that the comments are saved.

[2018-04-05 18:25] dend commented on #17
@NightFantomJ2 understood. Rest assured that we are actively working on the task.

[2018-04-05 18:55] mirsaeedi opened #39 "Best Docs Ever!"
Your novel approach to documentation is awesome and aspiring! I hope others learn from you that our today's complex world needs far better documentation for delivering high-quality codes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 699693b0-9b5d-f166-5519-13cc2908fa1d
* Version Independent ID: a0d3294f-1dbe-1fec-1f4

[2018-04-05 19:15] dend commented on #39
Thanks for the feedback, @mirsaeedi!

[2018-04-06 14:55] stamminator opened #40 "SignalR JavaScript API"
I love these API browsers! Are there plans to add the API documentation for the SignalR client to the new JavaScrip API browser? I think it will be especially necessary to have that when .NET Core 2.1 RTM is released because its jQuery dependency has been removed and there will likely be a lot of changes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2018-04-08 11:36] sharriexie commented on #24
@StingyJack , I'm PM of MSDN blog platform and could bring your feedback to DevOps webmaster. Just one question, is there any problem on current text and the comment box size? Given the background then  the webmater could properly triage this feedback.
Many thanks in advance.

[2018-04-08 12:03] StingyJack commented on #24
@sharriexie - Here is another screencap that may help illustrate the difference. The text at the top in the bio is how the rest of the page looks, same font and color/weight, etc.

Then there is the text at the bottom, faded and far too small.  The size of the box is gigantic looking compared to the text, but its the choice of font and its weight/color that is the problem.
![image](https://user-im

[2018-04-11 00:11] ShevaDas commented on #24
@StingyJack To address your original feedback, we've updated the placeholder text for submitting new issues and comments to read "Leave a comment". This is now more consistent with the GitHub.com experience, and hopefully clearer to users. We appreciate the feedback and hope you enjoy the updates!

[2018-04-11 02:30] mouadhbh1 opened #41 "clean external network windows 10"
his a problem
think you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e693833-3e45-2bb8-ddc2-d0c54936c3c1
* Content: [A New Feedback System Is Coming to docs.microsoft.com](https://docs.microsoft.com/en-us/teamblog/a-new-feedback-system-is-coming-to-docs)

[2018-04-11 03:32] EisenbergEffect commented on #41
@jdanyow Seems like there's a problem here. Note the GitHub Login and Microsoft Alias...

[2018-04-11 03:33] EisenbergEffect commented on #41
@jdanyow Is this author notification of comments on articles?

[2018-04-11 10:02] nailanawshaba opened #42 "Shasthojoy"
shasthojoy

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ace91cc4-bf6a-04aa-14ca-8cff7c15d446
* Version Independent ID: 2c8a05b3-c9cd-3c13-b0bb-78edff9b1525
* Content: [Universal Windows Platform (UWP) docs are now on docs.microsoft.com](https://docs.microsoft.com/en-gb/teamblog/universal-windows-platform-docs)
* Cont

[2018-04-11 10:26] jdanyow commented on #41
This is a temporary concession to help the Azure CXP team triage issues while automation/webhook logic is being implemented. I can take your ms.author and author tags off the blog post(s) if you’d like.

[2018-04-11 19:38] #42 closed

[2018-04-12 00:02] EisenbergEffect commented on #41
Makes sense. No need to remove my name unless it gets out of hand for some reason. I doubt there will be issues.

[2018-04-12 00:09] EisenbergEffect opened #43 "Congrats"
Woohoo! Great to see this launching :) Congrats @meganbradley and @adkinn !

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c101c482-1f4b-f4a9-9da1-91ad723c5bb5
* Version Independent ID: 8d19e1b7-1bd8-b556-d32a-8ddb1d14ea49
* Content: [Announcing the Docs Markdown Extension for Visual Studio Code](https://docs.microsoft

[2018-04-12 00:16] dend commented on #41
@EisenbergEffect @jdanyow I will close this issue in the meantime 😄

[2018-04-12 00:16] #41 closed

[2018-04-12 04:30] jgathairu opened #45 "Very good move"
I like this. Thanks VS

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e693833-3e45-2bb8-ddc2-d0c54936c3c1
* Content: [A New Feedback System Is Coming to docs.microsoft.com](https://docs.microsoft.com/en-us/teamblog/a-new-feedback-system-is-coming-to-docs)

[2018-04-12 08:07] sharriexie commented on #24
@StingyJack , DevOps team is making a plan to move their blog to a new platform and under redesign the new system. I'm still confirming with them to make sure you comment will be taken in the new design. Will that work for you?

[2018-04-12 13:30] StingyJack commented on #24
Yeah, thats OK.   Just make sure some of the dev's that made the platform arent all eagle-eye'd 20 somethings. =P.

[2018-04-12 13:30] #24 closed

[2018-04-13 11:44] grahambunce commented on #17
What would help is some clarity on basic "help needed questions". For example, "why does the product work this way?"

Is that question product feedback? Well, no... product feedback is changes requested to the product... which points me to User Voice... and don't get me started on how user voice is simply a place where ideas live for years before being looked at, or simply ignored forever.

Is tha

[2018-04-13 13:39] ujjaval-soho opened #46 "Microsoft always come up with great idea."
Great !!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e693833-3e45-2bb8-ddc2-d0c54936c3c1
* Content: [A New Feedback System Is Coming to docs.microsoft.com](https://docs.microsoft.com/en-us/teamblog/a-new-feedback-system-is-coming-to-docs)
* Content Sou

[2018-04-13 23:17] prafulbusa opened #47 "Nice way to discuss with each other"
Now, coder community will get in touch easily, Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e693833-3e45-2bb8-ddc2-d0c54936c3c1
* Content: [A New Feedback System Is Coming to docs.microsoft.com](https://docs.microsoft.com/en-us/teamblog/a-new-fee

[2018-04-14 18:30] dend commented on #47
Thanks @prafulbusa for the feedback!

[2018-04-14 18:31] dend commented on #45
Thanks for the feedback @jgathairu!

[2018-04-14 18:31] dend commented on #46
Thanks for the feedback, @ujjaval-soho!

[2018-04-15 15:25] dragonix11 opened #48 "Migrating sql to Azure"
I'm curious about the scripts that support Azure

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6079073a-0dd9-3b9b-c160-76e0dd525a3c
* Version Independent ID: 631788a5-f4bc-7df0-0540-2a0f67b631de
* Content: [Introducing docs.microsoft.com](https://docs.microsoft.com/en-us/teamblog/introducing-docs-microsoft-com)
* Cont

[2018-04-15 15:39] dragonix11 commented on #48
I am interested in the repository editor on windows pages, I am asking for comments

[2018-04-16 14:14] iwannabebot opened #50 "Nice feature"
This makes feedback very effective

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e693833-3e45-2bb8-ddc2-d0c54936c3c1
* Content: [A New Feedback System Is Coming to docs.microsoft.com](https://docs.microsoft.com/en-gb/teamblog/a-new-feedback-system-is-comi

[2018-04-17 11:02] jorgerodes opened #51 "Documentation in different languages"
Please do not let a machine make translations. Spanish translation of documentation is ilegible in most cases. Why dont you open a Translation proyect  where  we could collaborate voluntarily?

---
#### Detalles del documento

⚠ *No edite esta sección. Se requiere para docs.microsoft.com ➟ Vinculación de problema de GitHub.*

* ID: 38ef5be1-2def-575d-d803-c257bf1314f6
* Version Independent ID: 46f

[2018-04-18 12:37] andyyangzhao opened #52 "AlwaysOn read scale paper problem"
https://docs.microsoft.com/en-us/sql/database-engine/availability-groups/windows/perform-a-planned-manual-failover-of-an-availability-group-sql-server?view=sql-server-2017#ReadScaleOutOnly

HI,
    The above link address paper has syntax error:
ALTER AVAILABILITY GROUP [ag1]
     SET REQUIRED_SYNCHRONIZED_SECONDARIES_TO_COMMIT = 1;

actually, I can't deploy successfully using the paper, could you

[2018-04-18 12:38] andyyangzhao commented on #52
eg: primary replica and secondary replica  is sync or  async?

[2018-04-18 12:40] andyyangzhao commented on #52
eg:
1. primary replica and secondary replica is sync or async?
2. seeding mode
3. sql server 2017 patch?

[2018-04-18 21:44] weitzhandler commented on #50
This is great, and at the same time we got rid of the annoying LiveFyre plugin.

[2018-04-19 18:19] spottedmahn opened #53 "Please Turn on for ASP.NET Core!"
Love ❤ the new system here.  I've gotten use to it in Azure docs.

I'm always so disappointed when I go to [ASP.NET Core docs](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/policies) and it is not there.

When can we expect it?  Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-

[2018-04-19 18:44] dend commented on #53
@danroth27 @Rick-Anderson - can you please help address this request?

[2018-04-19 19:10] Rick-Anderson commented on #53
@dend  how do we enable it? We're ready. cc @mairaw @BillWagner

[2018-04-19 21:47] MNF commented on #53
Please do not convert before archive of previous comments is implemented.

[2018-04-19 22:26] dend commented on #53
@mairaw @Rick-Anderson - you can switch the feedback today. Comments will be archived within the next couple of months and will still be available in the backend.

[2018-04-19 22:30] mairaw commented on #53
Ok. So folks who have commented won't be able to see their previous comments. If so, it would be good to clarify that in issue 17.

Do you know where we can find instructions to make the switch @dend?

[2018-04-19 22:43] dend commented on #53
@mairaw - will share internally.

[2018-04-19 23:44] hobpet opened #54 "Feedback about "Feedback Mechanisms""
This article is talking about Livefyre as the feedback mechanism, but -as this feedback proves- it is not there anymore, but in GitHub.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6079073a-0dd9-3b9b-c160-76e0dd525a3c
* Version Independent ID: 631788a5-f4bc-7df0-0540-2a0f67b631de
* Content: [Introducing docs.microsof

[2018-04-20 01:32] dend commented on #54
This is an older article 😄 Since 2016, we switched to GitHub!

[2018-04-20 10:32] MNF commented on #53
@mairaw, just want to clarify, that the problem is wider: no one will be able to access all comments, that were created during previous years until archive will be implemented.

[2018-04-21 14:41] GoodJeans opened #55 "404 error page on ASP.NET Core"
I'm new to development, currently I'm following the guide on the link mention below.

https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/adding-view?view=aspnetcore-2.1#comments-container

However there are many pages that has 404 error page when clicked on them.

Although I can download the PDF file to continue the tutorial, but I am stuck as I'm not able to understand I read th

[2018-04-21 16:53] cosmictinydust commented on #55
I had the same problem. need to help!

[2018-04-21 21:14] newpost commented on #47
好在哪里？

[2018-04-21 21:18] newpost opened #56 "good job"
best wishes

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e693833-3e45-2bb8-ddc2-d0c54936c3c1
* Content: [A New Feedback System Is Coming to docs.microsoft.com](https://docs.microsoft.com/zh-cn/teamblog/a-new-feedback-system-is-coming-to-docs)
* Content Source: [teamblog/a-new-feedback-system-is-coming

[2018-04-23 03:31] msfcolombo opened #57 "Rollout to .NET documentation?"
When are you going to rollout this to .NET Framework documentation? i.e. https://docs.microsoft.com/en-us/dotnet/framework/index?view=netframework-4.7.2. That really needs a better feedback system.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e693833-3e4

[2018-04-23 15:23] ingconti opened #58 "LoadStdProfileSettings is NOT defined in VISUAL STUDIO 2017."
Even if using wizard. You got:

Severity    Code    Description    Project    File    Line    Suppression State
Error (active)    E0020    identifier "LoadStdProfileSettings" is undefined    MFCApplication6    c ....MFCApplication6\MFCApplication6\MFCApplication6.cpp

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193e

[2018-04-24 03:09] obivon commented on #19
I am also a fan of this docs site in general and would like to see my company deploy something similar.  While I didn't notice the picture at first, I tend to agree with the op.  I didn't notice the pic because my mind is fairly good at ignoring most banner-like graphic content on pages.  The pic in question is clearly for advertisement/mental tone setting, which has some merit.  I just wish it co

[2018-04-27 22:56] Dani21 commented on #17
@dend As of 3 weeks after your comment, I'm still seeing no clarification on this page for instance: https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.management/copy-item

That said, I'm at least glad something is being done to preserve the value of old comments.

[2018-04-28 01:29] dend commented on #55
@GoodJeans @cosmictinydust this should be resolved, thank you for the feedback!

[2018-04-28 01:29] #55 closed

[2018-04-28 01:32] dend commented on #58
Thanks for the feedback, however we cannot address it here, as it's a Visual Studio issue. Please use this forum instead: https://visualstudio.uservoice.com/forums/121579-visual-studio-ide

[2018-04-28 01:32] #58 closed

[2018-04-29 17:00] dend commented on #57
@mairaw and team just rolled that out to the existing .NET docs, so good timing  🎉

[2018-04-29 17:10] #57 closed

[2018-04-29 17:10] dend commented on #56
Thanks for the feedback, @newpost!

[2018-04-29 17:10] #56 closed

[2018-04-29 17:10] #54 closed

[2018-04-29 17:11] dend commented on #53
This has now been enabled for ASP.NET Core docs!

Please keep in mind that we are working on exporting LiveFyre comments, so those are not lost!

[2018-04-29 17:11] #53 closed

[2018-04-29 17:12] #47 closed

[2018-04-30 12:13] AminTakhtiNejad opened #59 "Testing"
just for test

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e693833-3e45-2bb8-ddc2-d0c54936c3c1
* Content: [A New Feedback System Is Coming to docs.microsoft.com](https://docs.microsoft.com/en-us/teamblog/a-new-feedback-system-is-coming-to-docs)
* Content

[2018-04-30 16:16] #59 closed

[2018-05-02 01:25] djdavid79 opened #60 "Store"
cant down load in store I have afeedback  0x00000190

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e693833-3e45-2bb8-ddc2-d0c54936c3c1
* Content: [A New Feedback System Is Coming to docs.microsoft.com](https://docs.microsoft.com/en-us/teamblog/a-new-feedb

[2018-05-03 06:38] dend commented on #60
Hi, thanks for the feedback! Unfortunately, because this does not relate to docs.microsoft.com, we cannot address it in this forum.

[2018-05-03 06:38] #60 closed

[2018-05-04 03:30] darting opened #61 "Open source"
Hi there, just wondering if it is (or it will be) an open source project for `docs.microsoft.com`. thanks :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6079073a-0dd9-3b9b-c160-76e0dd525a3c
* Version Independent ID: 631788a5-f4bc-7df0-0540-2a0f67b631de
* Content: [Introducing docs.microsoft.com](https://docs.microso

[2018-05-04 18:37] #50 closed

[2018-05-06 14:26] perconey commented on #51
You can submit your own translations of the articles by clicking the edit button and making a pull request of your commit after signing the Microsoft Contributor License Agreement (CLA) available on https://opensource.microsoft.com/pdf/microsoft-contribution-license-agreement.pdf

[2018-05-07 02:25] jmcjohnjohn commented on #61
feed back on

[2018-05-07 13:12] A-Mofi opened #62 "Small grammar mistake in last sentence of paragraph of chapter Example documentation feedback"
The first paragraph of chapter **Example documentation feedback** ends with the sentence:

The word **is** is obviously misplaced here and should be deleted from this sentence.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e693833-3e45-2bb8-ddc2-d0c54936c

[2018-05-07 14:21] spottedmahn opened #63 "Please Turn on for EF Core Documentation"
Hello - can the new feedback system be turned on for [EF Core docs](https://docs.microsoft.com/en-us/ef/core/index)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e693833-3e45-2bb8-ddc2-d0c54936c3c1
* Content: [A New Feedback System Is Coming to docs.micr

[2018-05-08 03:45] EmanEkaf opened #64 "Insert "to" between "you" and "interact""
Grammar nit:  "...which enables you [to] interact in..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e693833-3e45-2bb8-ddc2-d0c54936c3c1
* Content: [A New Feedback System Is Coming to docs.microsoft.com](https://docs.microsoft.com/en-us/teamblog/a-new-f

[2018-05-09 16:56] KalmanShlomo opened #65 "Download PDF"
Today, May 9, 2018, I clicked on Download PDF and the PDF only reflects updates on or prior to Feb. 24, 2018. Can the PDF be updated to include the latest updates?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e693833-3e45-2bb8-ddc2-d0c54936c3c1
* Content

[2018-05-09 21:55] dend commented on #65
@KalmanShlomo can you comment on what PDF you are referring to?

@dastaffo - assigning to you to follow-up.

[2018-05-10 00:58] KalmanShlomo commented on #65
There is a link in the bottom left corner of the screen. See bottom of attached screenshot.

When this link is clicked, a new window opens with the PDF (it takes time to load). This PDF does not reflect the most current updates as indicated by the date (beside "minutes to read").
![docs screenshot](https://user-images.githubusercontent.com/39132511/39846796-9fc463d4-53cb-11e8-9f2a-f5f53cd843db.PNG

[2018-05-10 00:59] KalmanShlomo commented on #65
Sorry, I mistakenly closed this issue. I did not mean to do so.

[2018-05-14 06:49] lewis-huang opened #66 "About SQL Server Physical Operation Statistics Count ActualRebind and ActualRewind"
Hello guys, seems it is a little confused with my scenario about "Unless an operator is on the inner side of a loop join, ActualRebinds equals one and ActualRewinds equals zero".

the official document is the following one :

https://docs.microsoft.com/en-us/sql/relational-databases/showplan-logical-and-physical-operators-reference?view=sql-server-2017
In the index seek physical operation, I found

[2018-05-14 07:03] lewis-huang commented on #66
please ignore this problem, I haven't read the next paragraph. They will not be shown on these operators.

[2018-05-14 20:32] matjin commented on #17
https://azure.microsoft.com/en-us/blog/help-improve-our-azure-docs/

Our new prototype tool, Aladdin, indexes some of this comment data. Try it out!

[2018-05-14 20:56] ShevaDas commented on #17
Thanks for sharing, @matjin. To clarify, this tool does _not_ replace the plans to create a full public anonymized archive of comments. Our team was recently able to start work on that, and I hope to be able to share a more detailed update soon. :)

[2018-05-14 23:32] #66 closed

[2018-05-14 23:33] dend commented on #65
@dastaffo can you follow-up here, please?

[2018-05-14 23:34] dend commented on #64
Good catch, this is fixed!

[2018-05-14 23:34] #64 closed

[2018-05-14 23:35] dend commented on #63
It's already open 😄

[2018-05-14 23:35] #63 closed

[2018-05-14 23:35] dastaffo commented on #65
@adkinn Can you help investigate?

[2018-05-14 23:36] dend commented on #62
Great catch, fixed! 😄

[2018-05-14 23:36] #62 closed

[2018-05-14 23:37] dend commented on #61
Hello! Currently there are no plans to do this. Please check out [DocFX](https://dotnet.github.io/docfx/) if you would like to try the tool that powers our site!

[2018-05-14 23:37] #61 closed

[2018-05-14 23:38] dend commented on #51
@SonjaSaltzman - can you please check-in here?

[2018-05-15 00:32] spottedmahn commented on #63
Well that’s new!  Cool 😎!!

[2018-05-15 02:03] SonjaSaltzman commented on #51
@jorgerodes - as pointed out by perconey, most of our content has the "Edit" button enabled, where you can directly edit the topics in your language on GitHub.
We will also start enabling the feedback feature in coming weeks, so you can leave a comment and tell us what you are looking for.  If there is any specific topic you would like to see localized, please let us know.

[2018-05-15 02:03] #51 closed

[2018-05-15 09:02] Claus-Andersen commented on #17
We are now more than 3 months down the road from the original post, and it still in a limbo state. I think we all understand the you guys from MS is working on it AND that there are some reasons that it's not yet ready, but please act and open up for comments on docs again until the new functionality is available!

[2018-05-15 09:05] Claus-Andersen opened #67 "Commenting on docs.microsoft.com"
We are now more than 3 months down the road from the original post around the new comment "system"., and it still in a limbo state. I think we all understand the you guys from MS is working on it AND that there are some reasons that it's not yet ready, but please act and open up for comments on docs again until the new functionality is available!

---
#### Document Details

⚠ *Do not edit this sec

[2018-05-15 12:46] kosmaria opened #68 "Track website visits, social media clicks, and banner click"
Hi,

Great post, thank you!

I was wanting to know more about this feature.  Is it possible to track a new lead or a new customer who originally comes from from a company's social media page or paid ad e.g. facebook with an embedded utm link in the url to the CMS system and then onto the Dynamics 365.

Also must a new lead or a contact register only on a Dynamics 365 landing page in order to be tr

[2018-05-15 19:51] kosmaria opened #69 "Track website visits, social media clicks, and banner clicks"
Hi,

Great post, thank you!

I was wanting to know more about this feature.  Is it possible to track a new lead or a new customer who originally comes from from a company's social media page or paid ad e.g. facebook with an embedded utm link in the url to the CMS system and then onto the Dynamics 365.

Also must a new lead or a contact register only on a Dynamics 365 landing page in order to be tr

[2018-05-16 02:36] #69 closed

[2018-05-16 02:36] #68 closed

[2018-05-16 07:30] kosmaria commented on #69
Why was this closed?  Am I able to get someone to answer this for me?

[2018-05-18 18:00] johan-boule opened #70 "Migration is taking far too long"
I think it's been months that you're saying the migration is in progress. On most pages, i.e. 90%, the old feedback system is still blocking anyone from posting any comment. Why am I saying blocking? Because the old system is plainly broken: it's just impossible to login. I suppose that's the reason there is so little feedback.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2018-05-18 18:09] johan-boule commented on #70
Sorry, I didn't know posting comments here was actually creating a new trackable issue on github :O
You can close this one (#70) and/or mark it as a duplicate of #67 which complains exactly about the same thing.

[2018-05-18 18:11] johan-boule commented on #70
When I said "here", I meant on the docs.microsoft.com site, not on the github.com site. Damn web 3.0, or whatever version they call it is just a huge fragile mess!

[2018-05-18 18:14] johan-boule commented on #70
Duplicate of #67

[2018-05-18 18:14] #70 closed

[2018-05-18 19:57] dend commented on #69
Hi @kosmaria - this is not related to docs.microsoft.com, therefore we cannot address the feedback. You can use the Dynamics forums to get more information: https://community.dynamics.com/f

[2018-05-18 20:42] jaydeflix opened #71 "time to update the job links"
Just noticed that the first two Senior Content Developer roles are expired, and the fourth is a link to the root of the career site.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94615642-7eb7-83dd-52f1-ef6b78c687cf
* Version Independent ID: 69e13745-a61d-9309-96b8-c102d01a70ec
* Content: [Join our team and make the w

[2018-05-20 17:49] envagy37 opened #72 "Amazing New Partnership for Our Future"
This has been by far the very best news I've heard so far and it will be much better for all of us, as we will all benifit greatly in softwear design, compatability issues, and we can all contribute in it to end up with super products we all dreamt about having it with Microsoft,... Thank you Mr. Gates

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-05-20 19:51] dend commented on #72
Thanks for the feedback!

[2018-05-20 19:51] #72 closed

[2018-05-20 20:34] AlexHedley opened #73 "Try It For Web API Projects"
Is this something you’d bring to the Help Pages for our own APIs?

Creating Help Pages for ASP.NET Web API
https://docs.microsoft.com/en-us/aspnet/web-api/overview/getting-started-with-aspnet-web-api/creating-api-help-pages

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8833410e-2016-3687-4ff0-296652bb6d87
* Version In

[2018-05-22 20:25] adeenadayalan opened #74 "Location Header missing in POST HTTP response"
I have a Logic App which calls the HTTP Post call for a refresh(https://docs.microsoft.com/en-us/azure/analysis-services/analysis-services-async-refresh#post-refreshes). I get a HTTP OK response and the refresh is initiated. However, I do not find the Location Header field in the response.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-05-24 08:52] ImageQC opened #75 "has potential, but GitHub is better"
Making a post on the new MS product feedback isn't a great experience. The form is too small and I can't find details of previous posts. You should keep GitHub until you can deliver something better

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e693833-3e

[2018-05-25 03:49] ImageQC commented on #75
I'm referring to https://feedback.azure.com/forums/355860-azure-functions/filters/my_feedback. This seems to be the replacement for posting directly to GitHub.

Other points:

https://feedback.azure.com/forums gives 404 error rather than taking you to a list of the forums, as one might expect.

The sign-on is often difficult due to the automagical way Microsoft decides which account I am using - m

[2018-05-25 11:26] clayhagler opened #76 "Replication of this platform"
This model is great. How does one replicate what you have done?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6079073a-0dd9-3b9b-c160-76e0dd525a3c
* Version Independent ID: 631788a5-f4bc-7df0-0540-2a0f67b631de
* Content: [Introducing docs.microsoft.com](https://docs.microsoft.com/en-us/teamblog/introducing-docs-micros

[2018-05-27 14:23] aribornstein opened #77 "Small typo Israel"
Great post small comment Israel in the line "Cloud Developer Advocate / Isreal" is misspelled.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94615642-7eb7-83dd-52f1-ef6b78c687cf
* Version Independent ID: 69e13745-a61d-9309-96b8-c102d01a70ec
* Content: [Join our team and make the world better for

[2018-05-29 17:02] LuceCarter opened #79 "Some links in Awesome Jobs are broken"
There are currently 4 Senior Content Developer roles listed but only 1 works. The first 2 point to expired role adverts and the final one links to the main careers website.

Sorry if a PR can be done on this, searching 805 repo's on a mobile phone is hard.

[2018-05-29 18:24] dend commented on #77
Good catch, this is now fixed!

[2018-05-29 18:24] #77 closed

[2018-05-29 19:59] dend commented on #79
@marywill99 can you please help check this?

[2018-05-30 09:09] komalpharate opened #80 "Is appendBlob method for video File supported?"
Hi,
I tried appendBlob method.
Now, I want to use appendBlob method to append video files.
Is it possible?
And how?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e693833-3e45-2bb8-ddc2-d0c54936c3c1
* Content: [A New Feedback System Is Coming to docs.micro

[2018-06-01 21:15] QUIPQUOPRO opened #81 "Which roles are open to technical writers?"
Which positions are open to technical writers? I had a recruiter contact me today about working on your team and I ran across this post. You can see my resume here: https://www.linkedin.com/in/robdpowers/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94615642-7eb7-83dd-52f1-ef6b78c687cf
* Version Independent ID: 69e13

[2018-06-03 17:05] dend commented on #71
@marywill99 can you please help us update the links?

[2018-06-03 17:05] dend commented on #80
Hi @komalpharate - what is this feedback in relation to?

[2018-06-03 17:12] komalpharate commented on #80
Hi,
This feedback is for Microsoft Azure blob implementation steps.
https://docs.microsoft.com/en-us/rest/api/storageservices/append-block

[2018-06-04 11:07] GlobalUniqueMike opened #82 "Good Idea"
This initiative is a very good idea.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e693833-3e45-2bb8-ddc2-d0c54936c3c1
* Content: [A New Feedback System Is Coming to docs.microsoft.com](https://docs.microsoft.com/en-us/teamblog/a-new-feedback-system-is-co

[2018-06-04 16:20] marywill99 commented on #71
I updated late last week. It should be good now ☺
M

From: Den Delimarsky <notifications@github.com>
Sent: Sunday, June 3, 2018 10:05 AM
To: MicrosoftDocs/TeamBlogFeedback <TeamBlogFeedback@noreply.github.com>
Cc: Mary Williams <marywill@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/TeamBlogFeedback] time to update the job links (#71)

@marywill99<https://na01.sa

[2018-06-05 18:50] seanmconlon1984 opened #83 "Thanks"
Well done. Thanks for the contributions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e693833-3e45-2bb8-ddc2-d0c54936c3c1
* Content: [A New Feedback System Is Coming to docs.microsoft.com](https://docs.microsoft.com/en-us/teamblog/a-new-feedback-system-i

[2018-06-06 17:11] dend commented on #83
Thank you for the feedback!

[2018-06-06 22:11] M1W opened #84 "No pdf download on mobile?"
:(

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 590ef2fd-0b1a-a2e0-d6a5-109f997f1db7
* Version Independent ID: 913df696-e028-f6b4-2a41-f203798badb0
* Content: [Microsoft Writing Style Guide Released](https://docs.microsoft.com/en-us/teamblog/style-guide)
* Content Source: [teamblog/style-guide.md](https://github.com/

[2018-06-07 08:51] jawn opened #85 "Are the stickers coming back?"
As a fan and spell checker of docs.microsoft.com I would love to get one of these.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae1aa22f-6031-0e08-5437-c5a26b430cb8
* Version Independent ID: f6f5810a-c249-c726-444f-66569eb8b6c5
* Content: [Rewarding Our Community & Fans](https://docs.microsoft.com/en-us/teamblog/rewa

[2018-06-08 12:13] TomasDeceuninck commented on #76
I too would like some more feedback on the technical implementation of the docs.microsoft website.

[2018-06-10 12:27] remis666 opened #86 "{removing private information}"
{removing private information}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e693833-3e45-2bb8-ddc2-d0c54936c3c1
* Content: [A New Feedback System Is Coming to docs.microsoft.com](https://docs.microsoft.com/en-us/teamblog/a-new-feedback-system-is-coming-t

[2018-06-10 12:28] remis666 commented on #86
Hai

[2018-06-11 11:58] Mokolone opened #87 "Adding CRUD views in Details.CSHTML page"
The tutorial for Contoso University does not show on how one can capture changing data. For, example, a student during a semester will write two class tests, then a final exam. Class tests counts a percentage towards final grade and so is exam. How will then one write views that can be displayed in Details, page that shows a grade for first test, the second test, the final exam grade ? Also, there

[2018-06-15 04:53] piyushpaliwal commented on #76
They are using [DocFX](https://dotnet.github.io/docfx/) as the underlying platform.

[2018-06-15 08:59] RoshanKumarMicrosoft opened #88 "Identity is missing in response of https://docs.microsoft.com/en-us/azure/virtual-machines/windows/instance-metadata-service#instance-metadata-data-categories Api call"
Created one azure VM and assigned identity to Vm but still not getting identity in response .

Api
 $vmdata = Invoke-RestMethod -Headers @{"Metadata"="true"} -URI http://169.254.169.254/metadata/instance?api-version=2018-02-01 -Method get

Response:-
{
    "compute":  {
                    "location":  "SouthIndia",
                    "name":  "rokJavawindowvm",
                    "offer":  "Win

[2018-06-18 13:52] TrautsNottus opened #89 "Where does this go?"
Wondering where these comments go

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6079073a-0dd9-3b9b-c160-76e0dd525a3c
* Version Independent ID: 631788a5-f4bc-7df0-0540-2a0f67b631de
* Content: [Introducing docs.microsoft.com](https://docs.microsoft.com/en-us/teamblog/introducing-docs-microsoft-com#feedback)
* Content So

[2018-06-19 18:47] #86 closed

[2018-06-19 18:47] dend commented on #87
Hi @Mokolone - can you please share what tutorial this is related to?

[2018-06-19 18:48] dend commented on #76
What @piyushpaliwal said is correct - we use DocFX with a set of extensions on top of it to render content.

[2018-06-19 18:48] #76 closed

[2018-06-19 18:50] dend commented on #88
@iainfoulds can you please take a look at this feedback?

[2018-06-19 18:50] dend commented on #89
These comments go on GitHub, in the team blog feedback repo 😄

[2018-06-19 18:50] #89 closed

[2018-06-19 22:07] iainfoulds commented on #88
@harijayms - Looks like a customer is reporting an issue with the expected output from IMDS. Can you validate that the examples in the doc are correct and up to date, please? Let me know if you help updating the docs if there are any required changes.

[2018-06-20 17:07] rokmicrosoft commented on #88
@harijayms  @iainfoulds  We are blocked due to this ..Can you please look this into priority? Thanks.

[2018-06-21 15:34] JC-UT opened #90 "on UserVoice, is not active for feedback"
https://msdocs.uservoice.com/ is not active even though the doc https://docs.microsoft.com/en-us/teamblog/a-new-feedback-system-is-coming-to-docs Your Feedback, refers to on UserVoice, as an active link.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e6938

[2018-06-21 16:44] dend commented on #90
Hello! We have since switched the feedback channel - it should be https://aka.ms/sitefeedback. We are entirely on GitHub.

[2018-06-21 16:44] #90 closed

[2018-06-21 21:57] usri opened #91 "Error: The same apk was uploaded as app and test"
I followed this guidance https://docs.microsoft.com/en-us/appcenter/quickstarts/android/test in order to make the test run.

here is the command that I am using

`> appcenter test run espresso --app "******" --devices ***** --app-path C:\Users\******\repos\appcenter-sampleapp-android-master\app\build\outputs\apk\androidTest\debug\app-debug-androidTest.apk --test-series "master" --locale "en_US" --

[2018-06-21 22:24] brunolewin-msft opened #92 "Some "apply today" links lead to empty list on career site"
Some links (example below for PM Jobs) contain different keyword than the job describtion. Notice the missing final "s":
https://careers.microsoft.com/us/en/search-results?keywords=%23apexawesomejob

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94615642-7eb7-83dd-52f1-ef6b78c687cf
* Version Independent ID: 69e13745-a6

[2018-06-22 06:01] LuceCarter commented on #79
This issue still exists with links in the Content Developer section.
The bottom links still leads to the careers website.

[2018-06-22 08:09] GMLOOKO opened #93 "Mr"
Yes

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6079073a-0dd9-3b9b-c160-76e0dd525a3c
* Version Independent ID: 631788a5-f4bc-7df0-0540-2a0f67b631de
* Content: [Introducing docs.microsoft.com](https://docs.microsoft.com/en-us/teamblog/introducing-docs-microsoft-com)
* Content Source: [teamblog/introducing-docs-micros

[2018-06-23 00:25] legspeed opened #94 "Good page"
This is a clear and useful page to help understand how pen setting work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e693833-3e45-2bb8-ddc2-d0c54936c3c1
* Content: [A New Feedback System Is Coming to docs.microsoft.com](https://docs.microsoft.com/en-us/

[2018-06-23 00:29] legspeed commented on #94
Sorry, was trying to comment on another page.  Read THIS page, made Git account and I came back to here thinking it was the ORIGINAL page.  Please disregard.

[2018-06-27 13:40] EdZava opened #95 "Good job!"
And how can I export to PDF for example with the same display of the Docs Preview extension?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 950150af-0c7e-d146-53fc-0af72ab7c70a
* Version Independent ID: 5d792ab0-26c7-90b6-fa3f-c9d32e78c18a
* Content: [A New Release of Docs Authoring Pack for VS Code](https://docs.micro

[2018-06-27 16:48] ixixit opened #96 "But what about support.microsoft.com KBs?"
This feedback mechanism is great, but I'm usually under support when I find issues...they should implement a similar mechanism.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e693833-3e45-2bb8-ddc2-d0c54936c3c1
* Content: [A New Feedback System Is Coming t

[2018-06-27 18:23] auberginekenobi opened #97 "Keep old comments"
This is a great move, but concerned that the loss of old comments would represent a considerable loss of accumulated information by the community.  MS needs to find a way to transition old comments into the new system so that docs users can leverage past users' issues and fixes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-06-28 14:50] petemoore commented on #97
I couldn't agree more!

[2018-06-28 23:05] dend commented on #97
Hi folks, we are working on ensuring that old comments are archived. Rest assured that this is work in progress.

[2018-06-28 23:05] #97 closed

[2018-06-28 23:05] dend commented on #96
Hello! We currently have no plans on integrating GitHub issues with `support.microsoft.com`.

[2018-06-28 23:05] #96 closed

[2018-06-28 23:38] dend commented on #95
Hello! Currently the extension does not facilitate PDF export - you can take a look at the Visual Studio Marketplace for any other PDF extensions.

[2018-06-28 23:38] #95 closed

[2018-06-28 23:38] #94 closed

[2018-06-28 23:38] #93 closed

[2018-06-28 23:38] dend commented on #92
Thanks! This should now be addressed.

[2018-06-28 23:38] #92 closed

[2018-06-28 23:39] dend commented on #91
Hello! Please open the issue within the documentation page (there is a link at the bottom) - the feedback in this repository is related to the team blog.

[2018-06-28 23:39] #91 closed

[2018-06-28 23:40] dend commented on #79
This has now be addressed! Thanks for the feedback!

[2018-06-28 23:40] #79 closed

[2018-06-28 23:40] dend commented on #87
Closing as this is not related to the team blog, and not additional information was provided regarding the source of the issue.

[2018-06-28 23:40] #87 closed

[2018-06-28 23:42] dend commented on #85
Hello! At this time, we are not providing any additional stickers. Make sure you follow us [on Twitter](https://twitter.com/docsmsft) for any upcoming promotions.

[2018-06-28 23:42] #85 closed

[2018-06-29 00:54] dend commented on #40
Yes! We are currently working on onboarding those to docs.microsoft.com.

[2018-06-29 22:38] nbandi413 opened #98 "Download pdf option is very useful"
Download pdf option is very useful

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e693833-3e45-2bb8-ddc2-d0c54936c3c1
* Content: [A New Feedback System Is Coming to docs.microsoft.com](https://docs.microsoft.com/en-us/teamblog/a-new-feedback-system-is-comi

[2018-07-03 16:02] harijayms commented on #88
All identity queries are at a different level, see detailed documentation for that here https://docs.microsoft.com/en-us/azure/active-directory/managed-service-identity/how-to-use-vm-token which is linked from the identity section in the doc

[2018-07-03 16:02] harijayms commented on #88
@rokmicrosoft please correct the queries

[2018-07-03 18:11] phoneticus opened #99 "Excel Workbook Download?"
I like the article and the charting examples.  Is there a place where we can download the Excel workbook with sample data and the charts?  This would make it so much easier to work with the examples.  Thank you so much.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Indepe

[2018-07-04 10:39] rokmicrosoft commented on #88
@harijayms https://docs.microsoft.com/en-us/azure/virtual-machines/windows/instance-metadata-service#retrieving-metadata-in-windows-virtual-machine
In response it has mentioned Identity will be also there for particular API version  but it is missing in response. The link you have shared is to get access token not identity.

[2018-07-04 20:03] jpeg729 opened #100 "Dates are in a confusing format"
The publication date is "02/07/2018".
Being British I find this date format to be highly confusing. I naturally read "2nd of July, 2018", but I think you mean "February 7th, 2018" right?

Please consider using a less ambiguous date format, e.g. "2018/02/07" or "February 7th, 2018".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2018-07-04 23:18] harijayms commented on #88
@rokmicrosoft missing something identity is a section just like scheduled events or compute. Its a hierarchy in the call , what are you trying to get when you say you have assigned identity to the VM I am assuming that you are putting either a system assigned or user defined identity. The Metadata endpoint will give you tokens  that you can use for the identity, what specifically are you looking f

[2018-07-05 14:58] jmcjohnjohn commented on #61
On Wed, 27 Jun 2018 12:59 AM jmcjohnjohn castillo, <
jmcjohnjohncastillo@gmail.com> wrote:

[2018-07-05 15:01] ghshephard commented on #100
Not just for the British - I'm  located in Michigan, but, working on the Web - you have zero context for what the Date Format will be - so "02/07/2018" is essentially 50% chance either direction.  I can see no downside, but many upsides for adopting either of your eminently reasonable suggestions for a less ambiguous date format.

[2018-07-06 22:43] ajayyy commented on #97
It's been months, are you sure it is actually going to happen?

[2018-07-09 00:00] nehtechnine opened #101 "feedback"
[it working]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e693833-3e45-2bb8-ddc2-d0c54936c3c1
* Content: [A New Feedback System Is Coming to docs.microsoft.com](https://docs.microsoft.com/en-us/teamblog/a-new-feedback-system-is-coming-to-docs)
* Content

[2018-07-09 17:11] #101 closed

[2018-07-10 00:59] AlanMcBee commented on #100
It's 2018. Why isn't 100% of the technology community using ISO 8601 formats by now? 2018-02-07. Easy for everyone.

[2018-07-10 22:11] ShevaDas commented on #100
This is a duplicate of https://github.com/MicrosoftDocs/feedback/issues/386. I'm going to close this out in favor of that issue, as we don't use this repo for site feedback.

[2018-07-10 22:11] #100 closed

[2018-07-11 20:01] smrifat commented on #80
Thanks for this link
<a href='https://www.clippingpathquick.com/' title='Clipping Path Service'>clipping path service</a>

[2018-07-16 13:31] Eno423 opened #103 "Compliance Powershell down?"
I keep trying to connect & am getting a internal server error when trying to use
$Session = New-PSSession -ConfigurationName Microsoft.Exchange -ConnectionUri https://ps.compliance.protection.outlook.com/powershell-liveid/ -Credential $UserCredential -Authentication Basic -AllowRedirection

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-07-19 08:24] Pernickety-Jon opened #104 "I owe you a beer!"
Hello. I found your page "Troubleshooting Disk Management" and, referred from that, "Change a Drive Letter".  They have solved weeks of annoyances and a day of headache. Thank you very much. If I could buy you a beer, or coffee, or... whatever, I would. The solution was so simple and staring me in the face but, after fruitless searching and trying other solutions, it was right click and add a driv

[2018-07-21 23:33] Sleeplikelion opened #105 "??"
I have a problem with my regional for developers please help me
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e693833-3e45-2bb8-ddc2-d0c54936c3c1
* Content: [A New Feedback System Is Coming to docs.microsoft.com](https://docs.microso

[2018-07-21 23:48] bnhassin opened #106 "Introducing Feedback in GitHub"
[Microsoft Documentation feedback Submitted]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e693833-3e45-2bb8-ddc2-d0c54936c3c1
* Content: [A New Feedback System Is Coming to docs.microsoft.com](https://docs.microsoft.com/en-us/teamblog/a-new-feedback-syst

[2018-07-22 16:17] beru opened #107 "Media Session Playback Example"
Sample source files are broken and no archive file is provided.
https://docs.microsoft.com/en-us/windows/desktop/medfound/media-session-playback-example

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e693833-3e45-2bb8-ddc2-d0c54936c3c1
* Content: [A New Fe

[2018-07-26 01:07] JasonWHowell commented on #81
The standard title "Content Developer" is similar to technical writer. Thanks!

#please-close

[2018-07-27 03:34] Jaibon opened #108 "blacklisted"
[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e693833-3e45-2bb8-ddc2-d0c54936c3c1
* Content: [A New Feedback System Is Coming to docs.microsoft.com](https://docs.microsoft.com/en-gb/teamblog/a-new-feedback-system-is-coming-to-docs)
*

[2018-07-27 09:31] jtuliani opened #109 "Awesome...but samples need to 'just work'"
Great idea, awesome. Really like that you've included the ability to control the API version and HTTP request headers also.

The first thing I tried was to create a virtual network (https://docs.microsoft.com/rest/api/virtualnetwork/virtualnetworks/createorupdate). The first sample on that page didn't work, error 'locationRequired'. Easy fix, but It would be good if EVERY sample JUST WORKED. I sho

[2018-07-27 09:43] hellosnow commented on #109
@jtuliani thank you for trying the try-it in REST API pages.

I checked the content on https://docs.microsoft.com/zh-cn/rest/api/virtualnetwork/virtualnetworks/createorupdate#request-body, that "location" is not required, could you copy paste your response in try-it section so that I could pass the information to Azure network team? Thanks. 😄

[2018-07-27 09:57] jtuliani commented on #109
HTTP 400 with response body:
{
  "error": {
    "code": "LocationRequired",
    "message": "The location property is required for this definition."
  }
}

Note that 'location' is a required property across all resource types. This specific issue goes much further than just Networking. The general principle I'm proposing is that all samples should work, and you're going to have to look at them to w

[2018-07-29 23:38] kottogriffitheduau opened #110 "Were's all the information for SharePoint classes gone?"
The old documentation (some of which web searches still exposes) gave good descriptions and code examples for SharePoint classes, the new documentation seems to be completely missing this content. This seems to happen everytime Microsoft 'improve' their documentation systems. can you at least provide links back to the old documentation system so we can get some useful information from it, not just

[2018-07-30 03:09] LukasGibb commented on #75
I agree totally with the comments about signing in to Microsoft services. I am in the same boat, old hotmail account (which is my XBox live user and now my login for Windows 10 on my home PC), then I have several accounts through work that I log in with (MSDN Subscriber account, individual VSTS login etc). Microsoft will get it wrong 80% of the time and require that I log off and back on to access

[2018-07-31 13:38] drstark opened #111 "How do you sign out or switch accounts?"
How do you sign out or switch accounts so people on shared devices can leave feedback under their accounts?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e693833-3e45-2bb8-ddc2-d0c54936c3c1
* Content: [A New Feedback System Is Coming to docs.microsoft.com

[2018-08-02 04:38] ahmadawais opened #112 "🐛 BUG: Markdown Syntax Issue"
Folks 👋
There's a markdown syntax issue with a missing `)` for the job `[Cloud Ops Advocate | USA Mountain View](https://careers.microsoft.com/us/en/job/454630/Cloud-Ops-Advocate`.

I hope it helps.
Peace! ✌️

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94615642-7eb7-83dd-52f1-ef6b78c687cf
* Version Independent ID: 6

[2018-08-02 06:41] dend commented on #112
Should be fixed now, thanks for the feedback @ahmadawais!

[2018-08-02 06:41] #112 closed

[2018-08-02 06:41] dend commented on #111
@drstark you can go to github.com and sign out - that will sign you out of the comment system as well!

[2018-08-02 06:41] #111 closed

[2018-08-02 10:13] BreckCarter commented on #110
Our club is very large. What club? Why, the club of developers who mourn the loss of historical content when a vendor (Microsoft, SAP, etc) decides to "improve" their documentation systems. There are no club meetings, of course, because developers don't cry :)

[2018-08-02 13:14] ahmadawais commented on #112
@dend it is. Glad to help. Peace! ✌️

[2018-08-02 13:52] QUIPQUOPRO commented on #81
Jason - thanks for the clarification.

[2018-08-02 13:52] #81 closed

[2018-08-02 15:32] stevoisiak commented on #108
Was this meant as a test post?

[2018-08-02 15:33] stevoisiak commented on #105
Can you be more specific?

[2018-08-03 06:33] emanueleleoni opened #113 "Upboard squared"
Hi,
I would like to install iot core by dashboard, bit this device is not available now.
Do you know if It Will be in the list?
And when?

Waiting for your reply.
Best regards,
Emanuele

---
#### Dettagli del documento

⚠ *Non modificare questa sezione. È necessaria per i collegamenti relativi ai problemi tra docs.microsoft.com ➟ GitHub.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Indep

[2018-08-07 06:50] gmatv opened #114 "Is it possible to subscribe to all comment of an article?"
I can subscribe to comments of one issue via github but can I subscribe to all comment of an article?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e693833-3e45-2bb8-ddc2-d0c54936c3c1
* Content: [A New Feedback System Is Coming to docs.microsoft.com](http

[2018-08-08 06:25] GITAhmad123 opened #115 "When routing from content pages shall be available?"
Its long since content pages don’t have option to post the comments. Any updates?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e693833-3e45-2bb8-ddc2-d0c54936c3c1
* Content: [A New Feedback System Is Coming to docs.microsoft.com](https://docs.microsoft.c

[2018-08-08 06:38] EisenbergEffect commented on #115
@jdanyow It would be cool if my name didn't appear on these and I didn't keep getting email (since I don't work for Microsoft).

[2018-08-09 06:55] Shogoot opened #116 "Dead link"
Your Feedback ---&gt; on UserVoice --&gt; https://msdocs.uservoice.com/ link is dead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e693833-3e45-2bb8-ddc2-d0c54936c3c1
* Content: [A New Feedback System Is Coming to docs.microsoft.com](https://docs.microso

[2018-08-10 20:04] jdanyow commented on #115
@EisenbergEffect I'll take your login/alias out of this article's metadata.

[2018-08-18 15:38] spottedmahn opened #117 "Turn on GitHub Issues for Microsoft-Supplied ODBC Drivers"
Any chance GitHub issues can get turned on for: [Microsoft-Supplied ODBC Drivers](https://docs.microsoft.com/en-us/sql/odbc/microsoft/microsoft-supplied-odbc-drivers?view=sql-server-2017)?  Thanks 🙏

cc: @craigg-msft @iRaindrop @CarlRabeler

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118d

[2018-08-18 15:40] spottedmahn commented on #113
Hi @emanueleleoni - this issue doesn't seem related to the new feedback system.

[2018-08-22 19:19] kuhlaid opened #119 "Beware of quotes in the 'name' elements"
If you place quotes around the 'name' elements in a record (in this case, 'Flavor' and 'Quantity' you will receive an error (probably 'expecting indent' or 'expecting colon')
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e693833-3e45-2bb8-ddc2-d0c5

[2018-08-28 07:32] zhonli opened #120 "demo"
demo test

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e693833-3e45-2bb8-ddc2-d0c54936c3c1
* Content: [A New Feedback System Is Coming to docs.microsoft.com](https://docs.microsoft.com/en-us/teamblog/a-new-feedback-system-is-coming-to-docs)
* Content Sou

[2018-08-28 07:34] #120 closed

[2018-08-30 00:26] dend commented on #113
I am closing this issue as it is not related to the blog post at hand. That said, feel free to comment on the article for the service with which you are encountering issues, or go to https://azure.microsoft.com/en-us/support/options/.

[2018-08-30 00:26] #113 closed

[2018-08-30 00:30] dend commented on #115
Merging this change to live, @jdanyow @EisenbergEffect

[2018-08-30 00:30] #115 closed

[2018-08-30 00:32] dend commented on #116
The link is now updated: https://github.com/MicrosoftDocs/blog/commit/d9253ab96d745dc57f0e0c71aedc69538b35bf20

[2018-08-30 00:32] #116 closed

[2018-08-30 00:38] dend commented on #105
Given that this issue did not receive any additional details, I am going to close it at this time.

[2018-08-30 00:38] #105 closed

[2018-08-30 00:38] #108 closed

[2018-08-30 00:42] dend commented on #103
Hello! I am closing this issue because it is not related to our feedback system. We recommend you reach out directly to the content/product owners by providing this feedback directly from the documentation page _for the product_.

[2018-08-30 00:42] #103 closed

[2018-08-30 00:43] #106 closed

[2018-08-30 00:43] dend commented on #107
@beru can you please provide more context as to what is wrong? Links seem to work OK.

[2018-08-30 02:18] EisenbergEffect commented on #115
Much thanks @dend and @jdanyow ! Keep up the great work. I'm never to far away :)

[2018-08-30 04:08] GITAhmad123 commented on #115
@dend
Thanks for your feedback, but please if i need to confirm about following team

https://docs.microsoft.com/en-us/sql/t-sql/functions/floor-transact-sql?view=sql-server-2017

?
They are still noticing to "Soon"; and i am unable to add feedback there....!!

Your help shall be appreciated.

Thanks

[2018-08-30 13:59] beru commented on #107
@dend I can't download an archive file from the example page.
So I had to manually copy & paste each of the sample files. Surprisingly, all the `&` letters were displayed as `&amp;`, so I needed to replace them.

It seems the website has been updated and it has `Copy` button next so source file header, so things are getting better.

[2018-08-30 15:17] craigg-msft commented on #117
@spottedmahn thank you for the question.  We are investigating switching that entire repo from Livefyre to git issues.  We are working to verify we have everything lined up in terms of workflow and participation as there is a lot of content in that repo and we want to find the proper balance between helping customers and not turning the content site into a tech support site which it is not designe

[2018-08-30 15:29] spottedmahn commented on #117
👍👍

It's intended purpose, documentation issues 😊

[2018-08-31 19:59] dend commented on #107
Got it, thanks for the feedback! @ginami to help address.

[2018-08-31 22:16] ginami commented on #107
Hi @beru -- thanks for your feedback. We will investigate!

[2018-09-06 12:46] DieterGust opened #121 "No fulltext search for the writing style guide?"
I'd like to search the style guide for certain terms. I don't recognize a full-text search option. The search button on top searches all of Microsoft.
For me the full-text search is the by far the most important feature. Do I miss something?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 590ef2fd-0b1a-a2e0-d6a5-109f997

[2018-09-07 15:04] spottedmahn commented on #117
Today I was looking to provide feedback here: [Add Database Reference Dialog Box](https://docs.microsoft.com/en-us/sql/ssdt/add-database-reference-dialog-box?view=sql-server-2017)

That is under the "same" project, right?

[2018-09-13 08:38] anakrantau12 commented on #117
Whats the project is?

Pada tanggal 7 Sep 2018 22:04, "Michael DePouw" <notifications@github.com>
menulis:

[2018-09-13 13:47] spottedmahn commented on #117
https://docs.microsoft.com/en-us/sql/ssdt/add-database-reference-dialog-box?view=sql-server-2017

and

https://docs.microsoft.com/en-us/sql/odbc/microsoft/microsoft-supplied-odbc-drivers?view=sql-server-2017

Are those under the same project?  If GitHub issues are turned on [for the original request](https://docs.microsoft.com/en-us/sql/odbc/microsoft/microsoft-supplied-odbc-drivers?view=sql-serve

[2018-09-13 19:22] shehackspurple opened #122 "Broken links"
A bunch of the job links for CDAs are broken, please fix.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94615642-7eb7-83dd-52f1-ef6b78c687cf
* Version Independent ID: 69e13745-a61d-9309-96b8-c102d01a70ec
* Content: [Join our team and make the world better for developers!](https://docs.microsoft.com/en-us/teamblog/awes

[2018-09-13 20:34] dend commented on #122
There is an outstanding PR for this - thanks for the feedback @shehackspurple

[2018-09-17 09:22] ite-klass opened #123 "Dead UserVoice link"
The feedback link to UserVoice is dead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15ad50e0-d41c-b337-bc30-740efa744058
* Version Independent ID: cb9b9aa8-390b-8c97-1049-22aa1708b66a
* Content: [Announcing a unified .NET reference experience on docs.microsoft.com](https://docs.microsoft.com/en-us/teamblog/announcin

[2018-09-19 16:53] OwlInSunglasses opened #124 "Versioning Information"
Sorely missing is the version of PowerShell (or programming language) that supports the modules/commands being described. E.g. Resolve-DnsName - under the h1 tag for Resolve-DnsName is a metadata div that denotes Resolve-DnsName is provided by the DnsClient module; but there is no indication that both require 2012 Server or equivalent version of PowerShell. As such, Windows 7 users are left mystif

[2018-09-20 04:07] kvs1983 opened #125 "Spelling Mistake in Powershell Command"
In the article https://docs.microsoft.com/en-us/sql/database-engine/availability-groups/windows/cluster-log-always-on-availability-groups?view=sql-server-2017, importing powershell module has spelling mistake. It was wrongly typed as **Import-Modeul** instead of **Import-Module**.
Correction is required in the powershell command.

---
#### Document details

⚠ *Do not edit this section. It is requi

[2018-09-26 00:32] dend commented on #123
Hi @ite-klass - at the time when the blog post was written, the UserVoice service was used for docs feedback. This has since changed to GitHub.

[2018-09-26 00:32] #123 closed

[2018-09-26 00:34] dend commented on #125
There is a PR with the change:
https://github.com/MicrosoftDocs/sql-docs/pull/1003

Thank you for the feedback, @kvs1983!

[2018-09-26 00:36] #46 closed

[2018-09-26 00:36] #45 closed

[2018-09-26 00:36] #39 closed

[2018-09-26 00:37] dend commented on #43
Thanks again for the kudos, @EisenbergEffect!

[2018-09-26 00:37] #43 closed

[2018-09-26 00:47] dend commented on #122
This has now been fixed, thank you for the feedback!

[2018-09-26 00:47] #122 closed

[2018-09-26 00:54] dend commented on #36
Thank you for the kudos, @patilsujata!

[2018-09-26 00:54] #36 closed

[2018-09-26 00:55] dend commented on #121
Hello! The writing style guide now has a search scope, that should limit the search exclusively to the guide:

![image](https://user-images.githubusercontent.com/1389609/46051063-3d6a6d80-c0ec-11e8-9f52-8e88cf7a8c4e.png)

[2018-09-26 00:55] #121 closed

[2018-09-26 00:57] dend commented on #104
We'll let @lizap know about the outstanding beverage offer! 👏 Thank you for the kudos!

[2018-09-26 00:57] #104 closed

[2018-09-26 07:16] ite-klass commented on #123
While that explains dead links it does not validate them or means that they make sense.

[2018-09-29 12:33] TheFanatr commented on #110
@kottogriffitheduau Maybe these links will help you: [SharePoint Documentation Hub](https://docs.microsoft.com/en-us/sharepoint/) [Microsoft Developer SharePoint Samples](https://developer.microsoft.com/en-us/SharePoint/gallery/?filterBy=SharePoint,Samples)
To access currently-removed or older versions of content on the Web, you can try to use the [Internet Archive's WayBack Machine](https://archi

[2018-09-29 13:59] systemeintegratedsolutions opened #126 "Well done!!"
Well done! I've always loathed and avoided the MS documentation as much as possible, but it's getting better and better! I've ofte seen comments in documentation that were never replied to and I was a little disappointed, but this new system should go a LONG way to help with that. Well done guys!! You guys are working tirelessly to make the lives of developers easier and you deserve some credit.

[2018-09-30 02:41] gman8321 opened #127 "Does Learn contain a complete Sandbox for learning?"
I use SalesForce Trailhead training, which gives a truly complete sandbox environment. Everything that SalesForce offers is in the Sandbox. It doesn't appear to be the case with Microsoft Learn. I tried with the Complete an approval flow training.  First part you have to create a SharePoint list. Where is the SharePoint list in the sandbox? without one, the training module is useless.

---
#### Do

[2018-09-30 07:40] f1point2 commented on #127
No; there isn't a fully fledged sandbox. Just the various Azure credits available; most notably through Visual Studio Subscriptions (which don't come cheap and certainly don't count as free).

When you work through learn; some of the units have a sandbox provided to allow individuals to work through specific tasks. E.g.
https://docs.microsoft.com/en-us/learn/modules/welcome-to-azure/3-create-a-vm?

[2018-10-01 03:46] egallagh commented on #127
And there are various free services and free trial offerings available. There are also benefits that may be available through an employer, educational institution or Microsoft Partnership.

[2018-10-02 13:10] amarinfotech opened #128 "Microsoft .NET APIs"
Thank you for your information. Now we able to get all api information on same place..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 874a937b-9533-5d3b-bea7-722649cf4b5e
* Version Independent ID: c026ede2-0b6b-9d06-b31d-4030cb45a596
* Content: [.NET API Documentation Moved from MSDN to docs.microsoft.com](https://docs

[2018-10-04 00:56] StevieNookz commented on #127
Hey, will Microsoft Learn be merged with or replace Virtual Academy? https://mva.microsoft.com/

[2018-10-04 16:00] richard-speirs commented on #116
The updated link is also dead.

[2018-10-05 15:53] ehaerim opened #129 "Can I ask help here about WinHttp websocket api?"
I see a good sample showing [Asynchronous Completion in WinHTTP](https://msdn.microsoft.com/en-us/library/aa383138%28VS.85%29.aspx#callback).
Unforturnately this sample is quite an old one that seems to be written before WinHttp supports WinHttpWebsocketSend / WinHttpWebSocketReceive.

I would like ask help to modify the above Asynchronous Completion in WinHttp **using WinHttpWebSocketSend/WinHttp

[2018-10-08 11:54] MarcoJanse opened #130 "Will Microsoft Learn replace MVA?"
Will Microsoft Learn replace the Microsoft Virtual Academy eventually?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26c7d914-e786-d705-977d-4f5fe050f420
* Version Independent ID: 90e0d126-c3ff-00ec-b910-528c64a8c9db
* Content: [Introducing Microsoft.com/Learn](https://docs.microsoft.com/en-us/teamblog/introducing-ms-

[2018-10-21 22:15] samirgunic commented on #130
Good question! The fact is that Microsoft already offers great content for learning. The only problem is that you need to know where to find it. Unfortunately it is all scattered throughout the many websites that Microsoft operates. I for instance thought that Microsoft Virtual Academy (MVA) was gonna be replaced by this new thing called "Microsoft Tech Community" (MTC). In fact, there is plenty o

[2018-10-25 18:02] ntotten opened #131 "Very cool!"
Test

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e693833-3e45-2bb8-ddc2-d0c54936c3c1
* Content: [A New Feedback System Is Coming to docs.microsoft.com](https://docs.microsoft.com/en-us/teamblog/a-new-feedback-system-is-coming-to-docs)
* Content Source:

[2018-10-25 18:03] #131 closed

[2018-10-26 18:20] StingyJack opened #132 "It's still hard to distinguish between product and documentation bugs sometimes"
... apologies for opening issues in the wrong place.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e693833-3e45-2bb8-ddc2-d0c54936c3c1
* Content: [A New Feedback System Is Coming to docs.microsoft.com](https://docs.microsoft.com/en-us/teamblog/a-new-feedb

[2018-10-29 18:55] dend commented on #132
@StingyJack not a problem - for content bugs, make sure to comment on the article itself. For site feedback, please refer to https://aka.ms/sitefeedback. For product feedback, teams will typically include a link within their own documentation that points to the right place.

[2018-10-29 18:55] #132 closed

[2018-10-29 18:56] dend commented on #129
@ehaerim is there an article on docs.microsoft.com where this sample is referenced?

[2018-10-29 18:57] dend commented on #128
Thank you for the feedback! 👏

[2018-10-29 18:57] #128 closed

[2018-10-29 18:57] dend commented on #126
Thank you for the kudos! 👏

[2018-10-29 18:57] #126 closed

[2018-10-29 19:36] StingyJack commented on #132
As long as it's ok that I continue to report issues in the wrong place when unsure, or report them as documentation issues if I can't find the product link easily (SQL server or a Windows tool like pwrcfg.exe).

[2018-11-05 18:03] RobotOverlord commented on #52
I am also having this issue.

[2018-11-05 18:17] RobotOverlord commented on #52
Looks like the documentation is wrong, correct syntax is:

ALTER AVAILABILITY GROUP [ag1]
SET( REQUIRED_SYNCHRONIZED_SECONDARIES_TO_COMMIT = 1 );

[2018-11-07 17:44] jffriend opened #133 "Remove mention of sidenotes"
Since it appears the functionality has been removed it would be good to remove the mention of sidenotes from the blog post.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6079073a-0dd9-3b9b-c160-76e0dd525a3c
* Version Independent ID: 631788a5-f4bc-7df0-0540-2a0f67b631de
* Content: [Introducing docs.microsoft.com](https

[2018-11-08 10:26] guybartal opened #134 "reuse microsoft.com docs platform for customer api ref docs"
does the Microsoft.com docs platform OSS?
my customer would like to reuse this platform + feedback feature

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e693833-3e45-2bb8-ddc2-d0c54936c3c1
* Content: [A New Feedback System Is Coming to docs.microsoft.com]

[2018-11-12 14:27] gix opened #135 "Outdated link to UserVoice"
The feedback section links to a discontinued UserVoice instance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a2e7010-ba7b-ead7-ebf0-b91f2289738e
* Version Independent ID: 22e6a5ce-3f3f-0c65-eb84-17eea02f0d43
* Content: [New and Updated Offline Books](https://docs.microsoft.com/en-us/teamblog/offline-book-refresh-fe

[2018-11-14 23:12] dastaffo commented on #65
@KalmanShlomo As part of the update to the Power BI documentation, it now should have the latest PDF information

[2018-11-14 23:12] #65 closed

[2018-11-17 21:03] priyankashb commented on #109
Thanks @jtuliani

Same error was coming on my webpage https://rrbgroupdresults2019.in/ while creating the app. but now all problem solved..

Thanks again everyone :)

[2018-11-28 07:24] sulmar opened #136 "The link to Github is broken"
The link to Github (https://github.com/microsoftgraph/microsoft-graph-doc) is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc610a58-f74a-d759-5e12-885d1eb9169e
* Version Independent ID: 5f119970-6ee2-33cd-ba47-7c5531738b48
* Content: [Microsoft Graph documentation now on docs.microsoft.com](https://docs.micro

[2018-11-30 20:56] TotallyInformation opened #137 "All well and good but please share the code with us mere mortals!"
This is great and works really well, but how are you sharing this ability with the rest of the world?

In particular, why not add some GitHub and Markdown love to SharePoint Online document libraries to make it easy to use Office 365 for creating and managing documentation as code?

Don't keep it to yourself :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2018-11-30 22:35] AlexHedley commented on #73
Useful doc links on [118](https://github.com/MicrosoftDocs/TeamBlogFeedback/issues/118)

[2018-11-30 22:38] AlexHedley commented on #134
I raised [73](https://github.com/MicrosoftDocs/TeamBlogFeedback/issues/73) 6 months ago, I’m hoping the API Help you can add to WebAPI projects can use the new Try It feature for our own APIs too

[2018-12-01 18:41] DavidCountry opened #138 "Class Documentation"
In reviewing the class definition, I noticed that there is no reference to destructors.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e693833-3e45-2bb8-ddc2-d0c54936c3c1
* Content: [A New Feedback System Is Coming to docs.microsoft.com](https://docs.micro

[2018-12-01 18:42] DavidCountry commented on #138
Refer to this link,
https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/class

[2018-12-02 01:54] nschonni commented on #136
It's missing an "s" on the end. Should be https://github.com/microsoftgraph/microsoft-graph-docs

[2018-12-06 09:10] Emmanuel-GD opened #139 "Offline Availability"
I am using this documentation and it is very helpful but what about making it available in visual studio offline book? So that anyone offline will have access to it from help viewer.
Thank You.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a2e7010-ba7b-ead7-ebf0-b91f2289738e
* Version Independent ID: 22e6a5ce-3f3f-0c

[2018-12-06 09:15] Emmanuel-GD opened #140 "Offline Availability"
I am using this documentation and it is very helpful but what about making it available in visual studio **offline book**? So that anyone offline will have access to it from **help viewer**.
Thank You.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a2e7010-ba7b-ead7-ebf0-b91f2289738e
* Version Independent ID: 22e6a5ce

[2018-12-06 09:17] #140 closed

[2018-12-06 09:20] Emmanuel-GD commented on #140
closed as this is for https://docs.microsoft.com/en-us/xamarin/android/get-started/

[2018-12-09 11:54] LuigiBruno commented on #84
PDF downloadable version could be useful, indeed.

[2018-12-12 10:45] davidArbeya opened #141 "ASP.NET Core"
I'm following some ASP.NET Core introduction courses on the MVA, for instance "Introduction to ASP.NET Core with Visual Studio 2017" or "ASP.NET Core - Beginner". Are you going to move this courses to the new MICROSOFT-LEARN? Are you going to add ASP.NET and ASP.NET Core training features or paths?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2019-01-05 18:10] changov opened #142 "Broken Docs search (Desktop/Win32 API)"
I did a basic search for a Win32 API constant: https://docs.microsoft.com/en-us/search/index?search=WS_EX_APPWINDOW&scope=Desktop . All the hits on the first page were random junk. Whereas Bing's first result is the right reference page: https://www.bing.com/search?q=WS_EX_APPWINDOW&PC=U316&FORM=CHROMN .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-01-12 22:09] lukacs-andras opened #143 "cannot hide sidebar"
The sidebar of the old docs site can be collapsed but not on the new site. This may not be a problem if you view the site in landscape mode because the text is wide enough. However, if you set up your monitor in portrait mode so you can see more text on a single screen, the useful text may be too narrow. The sidebar should be collapsable.

---
#### Document Details

⚠ *Do not edit this section. It

[2019-01-13 15:56] weitzhandler commented on #130
But will it offer the learning path that MVA used to, for example MEAN Stack web development / Windows Development?
Because it currently only offers individual courses or very limited learning paths.

[2019-01-14 11:32] Josemboa opened #144 "Error trying to Generate Access Token using oAuth 2.0"
When I'm trying to Generate Access Token using oAuth 2.0 I got the error below:
[code]

I'm using the link [https://ds.kaiza.la/api/Oauth/Authorize?client_id=b19786ca-df0c-4934-99ea-58198836b788&redirect_uri=https://www.getpostman.com/oauth2/callback](url), where the client_id is my Connector ID.

Please see the attached image.
![kaizalaerror](https://user-images.githubusercontent.com/5972884/5111

[2019-01-14 19:43] samirgunic commented on #130
Yes, Microsoft Learn (ML) does have paths.

If you go to the front page of [ML](https://docs.microsoft.com/en-us/learn/) and select "Learning paths", you can then select a role like "Windows Developer". That would be the Windows development path.

You will get a query that looks something like this.

`https://docs.microsoft.com/en-us/learn/browse/?roles=developer&products=windows`

Role and produc

[2019-01-14 20:04] samirgunic commented on #130
I have not had time to play around much with ML, and frankly there is not a whole lot of content yet. But I am loving it already. It's a major improvement over MVA in every aspect. I hope this will continue to grow and surpass MVA.

I'm not sure what the end-goal is with ML as Microsoft has so many different sites for learning and professional training and certification. If it's meant to be a one-

[2019-01-15 09:54] dmt87uk opened #145 "Learn Trophies and Badges"
This is a really excellent resource but I have a question about accumulated badges and trophies. Is it/will it be possible to create a URL to trophies and badges that have been personally achieved, so I can add them into Degreed? At the moment, I can only see them in my  user profile.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-01-16 22:35] get-fooby commented on #3
Regardless, the article above is no longer correct and should be removed.

[2019-01-26 16:43] spamspambaconspam commented on #84
There *is* a downloadable PDF available, although I'm not sure it is visible in the mobile view.

Go here:
https://docs.microsoft.com/en-us/style-guide/welcome/

At the bottom left, you'll see "Download PDF."

I'm using a non-IE browser, and the file downloaded did not have an extension, so I had to add ".pdf" to the end of the filename, manually.

The PDF contains the complete guide; it is 3 MB /

[2019-02-02 15:03] christopher-brock opened #146 "Is there a template for this style of website we can use?"
In order to provide better feedback it would be great if we could use a template for the website to create our own internal documentation site, then once we fully test and find the best way to utilise it, we can provide better feedback.

Is this something that is available?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2019-02-13 09:22] fabiocesarato commented on #145
The coursed and the resources are very well structured. It will be possible to share the badges or trophies for completed learning path on LinkedIn as certifications?

[2019-02-13 09:28] fabiocesarato commented on #141
I also studied ASP.NET Core 2.0 on MVA. I have completed the learning path and obtained the associated badge. When MVA will be retired, will this badge be available?

[2019-02-19 21:45] tb-mtg opened #147 "Layout source code for docs.microsoft.com website"
In the spirit of now being open-source i was hoping somebody could share the code and any third-party css & js libraries that may have been used for the template/layout page for the docs.microsoft.com website.

I love the design and am especially interested in the following work:

* the Left sidebar "Contents" menu and it's ability to filter even with sub-navigation menus
* the Right sidebar "In t

[2019-03-15 05:30] craigg-msft commented on #117
@spottedmahn apologies for the delay.  we did turn on issues but for a limited number of folders so we can control the volume some.  we are not resourced if there was feedback on all the topics and clearly we are already behind  / losing track now and then :) For the sql-docs-pr repo we have issues enabled for the newer tech for now.  while the issues control is on only for some folders of topics,

[2019-03-15 13:30] spottedmahn commented on #117
Fair enough, thanks @craigg-msft 😊

[2019-03-15 13:30] #117 closed

[2019-03-20 00:52] mbedford78 opened #148 "Learning completion tracking for organisations"
Great content on MS for skilling up my IT teams on Azure! But whats stopping me from widespread adoption is the ability to track what staff in my org have completed what modules? I heard its coming, can I have a ETA please, otherwise will need to look to use a paid training alternative which does this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-03-20 08:41] brikken opened #149 "Estimated Reading Time calculation"
How do you calculate the Estimated Reading Time?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6079073a-0dd9-3b9b-c160-76e0dd525a3c
* Version Independent ID: 631788a5-f4bc-7df0-0540-2a0f67b631de
* Content: [Introducing docs.microsoft.com](https://docs.microsoft.com/en-us/teamblog/introducing-docs-microsoft-com)
* Cont

[2019-03-21 10:11] hobpet commented on #54
Why did you close this without fixing that paragraph. This article is not marked as outdated, so shall not include invalid information.

[2019-03-23 21:15] sb2059 opened #150 "When will other people be able to embed Github Issues into their own documentation solutions?"
I'd love to be able to leverage this capability on my own projects.  Are there plans to share this functionality?  If so, what does the timeline look like?  We need to decide whether or not to roll our own.  Thanks and great work, Rob and co!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f811

[2019-03-29 17:55] shirgoldbird commented on #150
One of our excellent engineers, @jdanyow, has made an open-source version of the commenting system. You can find it [here](https://github.com/utterance/utterances).

Glad you like it!

[2019-03-29 17:55] #150 closed

[2019-06-25 08:00] Player1UK opened #151 "What's the feedback issue limit per user, per repository, per day?"
I've currently got 164 open issues in 1 repository, which I created over the space of roughly 3 days, after signing up to Github as a new user to leave feedback.
And now all I see is "Loading feedback..." for all pages within that documentation repository.
Is there a limit to the amount of feedback one user can give?  Is there a limit period for new users?  Have I been locked out of this repositor

[2019-06-27 11:51] prilcool commented on #130
It would have been good , if at least the section for MVA certificates learning path badges was still available through Microsoft learn just for validation purposes  .

[2019-06-27 12:28] weitzhandler commented on #130
Wish ML offered complete learning path forward MCSD etc certificates.

[2019-07-12 10:18] Irfanwalid commented on #145
I have the same question. Can I download a transcript of the courses completed?? It used to be there on MVA. Have they been removed from Microsoft Learn and can only be viewed in your profile.

[2019-08-06 11:19] TobiasKnauss opened #153 "Feedback functionality missing"
Where has the feedback functionality gone on all the pages that contain the .net command reference? Like https://docs.microsoft.com/en-us/dotnet/api/system.xml.xmlnode.selectsinglenode
I would like to point to errors on this page, but I can't.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f81

[2019-08-12 15:06] caeschlimann opened #154 "Windows Server 2016 and Windows 10 IT pro docs are now on docs.microsoft.com"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1e30a04-2564-d7c1-1d40-676decb4645c
* Version Independent ID: 612d3858-e4f6-d775-7ea5-3c77a89752f7
* Content: [Windows Server 2016 and Windows 10 IT pro docs are now on docs.microsoft.com](https://docs.microsoft.com/en-us/teamblog/windows-server-and-

[2019-08-21 04:21] wenmin92 opened #155 "Docs userVoice link not avaliable"
The last paragraph contains a the Docs UserVoice link which 404.
https://msdocs.uservoice.com/forums/364242-general-site-feedback

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfe0825e-ebb0-7d41-7225-74098be2f9fa
* Version Independent ID: 33b86421-2f7d-8401-4ed9-a616952feea2
* Content: [Updates to our PowerShell Docum

[2019-09-01 11:46] LivefromRaleighwood opened #156 "User created Category"
It looks like all the Bookmarks are dumped in to a single non-named Category or bucket. Most people would have a number of reasons....on different topics...to visit this site. As such, please add the ability to add topics or categories -- to allow us to put a bookmark IN a location we can easily reference....but we make them. Please allow the bookmarks to be dumped into OneNote. Please allow for a

[2019-09-17 12:15] michevnew opened #157 "TechNet Gallery also affected?"
I dont seem to get the "sunsetting" banner on any of my code samples for the TechNet Gallery, but since they're practically the same platform, I figured I'd ask here. Does the above affect code samples submitted to the TechNet Gallery? If so, can you please make it clearer and also make sure to add the bar and any other type of warning. Also, can you please be more specific as to timelines on this

[2019-09-30 01:41] jantoney commented on #54
This would have been closed because it's a blog post and represents a historical article someone published, not current technical content.
Updates/changes/questions can be viewed in the comments just like I did to find these comments.

The original blog post shouldn't be updated/changed unless it includes technically incorrect information at the time of publishing

[2019-10-31 20:05] jasontenpenny opened #158 "Q&A vs. Tech Community?"
Can you elaborate a little on how you see this differing from the Microsoft Tech Community?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5be114f3-6668-8b9d-b698-a088050edd1e
* Version Independent ID: 360c7943-63c3-72b8-ddbe-b275f86793ba
* Content: [Introducing Microsoft Q&A (Preview)](https://docs.microsoft.com/en-us

[2019-11-01 04:17] MohitGargMSFT commented on #158
Microsoft Q&A will use the same user authentication as Microsoft Docs and Learn content for a more consistent experience across the platform. This integrated experience will allow us to better prioritize and answer questions, and give users clearer paths between documentation, learning content, and answers. Microsoft Q&A also offers a much better set of permissions that will equip our moderators w

[2019-11-01 04:43] bgiesing opened #159 "Microsoft Answers?"
Will this also replace Microsoft Answers too or just MSDN/TechNet?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5be114f3-6668-8b9d-b698-a088050edd1e
* Version Independent ID: 360c7943-63c3-72b8-ddbe-b275f86793ba
* Content: [Introducing Microsoft Q&A (Preview)](https://docs.microsoft.com/en-us/teamblog/introducing-mic

[2019-11-01 12:46] wsmelton opened #160 "Helpful to show example of marking an answer"
In order to better support and encourage questions to be marked as answer by those that ask it would be helpful to show how just an answer to the example question being marked as such.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5be114f3-6668-8b9d-b698-a088050edd1e
* Version Independent ID: 360c7943-63c3-72b8-ddbe-b

[2019-11-01 12:56] 217Wilder-User1 opened #161 "Cognitive Services, AI + Machine Learning"
https://docs.microsoft.com/answers/index.html looks really good.  Tons of potential.   Are there plans to incorporate Azure Cognitive Services or any Azure AI + Machine Learning services to the site?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5be114f3-6668-8b9d-b698-a088050edd1e
* Version Independent ID: 360c7943-6

[2019-11-01 13:37] jasontenpenny commented on #158
yeah I guess I was more wondering what kind of content y'all are expecting to be posted in one vs the other. They both seem like they're accomplishing more or less the same thing. That's why I was looking for clarification.

[2019-11-01 15:39] Salz150 opened #162 "Looks Good But Why Not Use StackOverflow?"
I always assumed Microsoft would eventually turn Q&A over to StackOverflow.com.  StackOverflow has such an excellent product it's hard to imagine why you would want to create your own - ad revenue I'm guessing?  In any case it does look like it's a big improvement over your previous Q&A format.  For the questions that don't have SO answers - this will be a welcome change.

---
#### Document Detail

[2019-11-01 19:10] wvmstr commented on #162
The threshold to participate at SO is quite high. Too high for beginners and moderately skilled developers.

Gave up on getting answers from that crowd.

And that was before SO went into politics.

[2019-11-01 19:20] Salz150 commented on #162
Very true!! I have given up on trying to ask any questions there myself.

[2019-11-01 21:36] slear commented on #162
StackOverflow has specific and very detailed rules when posting questions. It is just a matter to follow these rules and looking and understanding how it works before posting there. There is nothing that requires high skills to post questions.  Of course if you expect to go there and post whatever pass in your mind without care at how the site works and at how you ask then you will have hard times

[2019-11-01 23:36] saldana commented on #162
Thank you for this question and the different responses.

We love Stack Overflow. We will continue supporting our customers who ask questions there. In the future, we will introduce a feature that points askers on Microsoft Q&A to relevant answers from Stack Overflow.

However, Stack Overflow has specific criteria about what questions are appropriate for the community and Microsoft Q&A will have a

[2019-11-01 23:36] #162 closed

[2019-11-01 23:42] saldana commented on #158
@jasontenpenny  The current scope is to move customers from MSDN and TechNet forums to Microsoft Q&A. Other platforms will co-exist, and we will look at ways to consolidate and share content between the different sites. So if you are collaborating in MSDN Forums for the services we are onboarding, then we are inviting you to do so in Microsoft Q&A. If you are engaging in Tech Community, you should

[2019-11-01 23:42] #158 closed

[2019-11-01 23:43] saldana commented on #159
@bgiesing The current scope is to move customers from MSDN and TechNet forums to Microsoft Q&A. the scope for Answers remains as-is today. We will look at ways to consolidate and share content between the different sites.

[2019-11-01 23:43] #159 closed

[2019-11-01 23:55] saldana commented on #160
@wsmelton this is a great suggestion and in the next few weeks we will work on providing some user scenario guidelines. Thanks!!!

Note that you can also add suggestions like this in the [Site feedback section in Microsoft Q&A](https://docs.microsoft.com/answers/content/idea/list.html)!

[2019-11-01 23:55] #160 closed

[2019-11-02 00:05] saldana commented on #161
Hi @217Wilder-User1 thanks a lot for the feedback. We are currently testing everything out with the subset of scenarios to make sure that the platform evolves to accommodate all the products and services. We are working very closely with the Azure team on an onboarding plan for all the Azure services into Q&A. We are doing the same for non-Azure products and services.

We do not have a date yet th

[2019-11-02 00:05] #161 closed

[2019-11-02 15:15] tsahi commented on #162
Wouldn't it make sense then to host your own SO instance, and set your own rules, instead of writing something from scratch (assuming that's what you've done).

[2019-11-04 23:43] saldana commented on #162
SO Enterprise would have been a great solution, if it supported all the requirements that we had. However, it doesn't. SO has been prioritizing SO Teams development and SO Enterprise intranet scenarios. They have different priorities and those didn't align well with the needs we have, including but not limited to support for a localized experience and broad support for a large number of languages

[2019-11-06 20:19] aprilspeight commented on #157
The banner that you are referring to is only for the MSDN Code Gallery and therefore will only display on MSDN Code Gallery pages. The MSDN Code Gallery will retire this month (November).

Additional information regarding the TechNet Gallery will be provided at a late date.

[2019-11-14 18:46] docs-product commented on #155
The link is no longer active - we rely on https://aka.ms/sitefeedback.

[2019-11-14 18:46] #155 closed

[2019-11-14 20:38] frank-e opened #163 "Q&A profile settings nit"
Out of curiosity I tested the "sign in" (create account) procedure, actually I should have a working MS social/answers/technet/onedrive/life/whatever profile with the same e-mail address, but apparently this "docs"/"qanda" thingy is different (and on github):  Uploading a profile picture worked. Skipping the "e-mail + region" form worked. Disabling Q&A e-mails failed. Trying it again after adding

[2019-11-21 13:03] mlottner commented on #149
@brikken Thanks for your question!
Our estimated reading calculation is 200 words per minute. All pages with 400 or fewer words are estimated at 2 minutes.

[2019-11-21 13:03] #149 closed

[2019-11-21 13:06] mlottner commented on #142
@changov Thanks for taking the time to give us feedback.
Search on Docs continues to be upgraded and enhanced, with more improvements planned in the coming months.

[2019-11-21 13:06] #142 closed

[2019-11-22 14:19] Pedrolorenzo opened #164 "In Docs/My profile/ Activity - Contraditory information"
In the section Activities or "Pick up where you left off", I have some modules listed, but I have finnished all of them.
It has contraditory information:

example:

Publish and share in Power BI

 0% completed • 0 min remaining

Thank you

![activity](https://user-images.githubusercontent.com/57567101/69433167-df4e1000-0d19-11ea-9ee1-832874942cb7.PNG)

[2019-11-24 13:38] mlottner commented on #164
@Pedrolorenzo Thanks for taking the time to give us feedback.
I've tagged this issue for a member of our Learn infrastructure team to investigate for you.
Appreciate your contribution to our community.

[2019-11-24 13:38] #164 closed

[2019-11-24 13:43] mlottner commented on #163
@frank-e
Thanks for taking the time to give us Docs site feedback!
To make sure we understand your issue I've attempted to condense it here: You don't want to have a separate alias for GitHub and want to use your existing Microsoft related alias and your want to be able to opt out of receiving additional emails related to GitHub.
Is this accurate?

[2019-11-24 13:46] #157 closed

[2019-11-24 14:37] mlottner commented on #153
@TobiasKnauss Thanks for taking the time to give us your feedback.
I've tagged this issue for the .NET experience team to investigate.
In the meantime, you can submit issues using the **edit** option at the top of each page. Submit your fix by editing the page and submitting a PR for faster resolution.

[2019-11-24 14:37] #153 closed

[2019-11-25 08:57] mlottner commented on #114
@gmatv Thanks for your question.
You can bookmark the page and watch for updates, or add a comment (such a "following" into a Git thread to be updated by email whenever a new response is added to the issue you are interested in.

[2019-11-25 08:57] #114 closed

[2019-11-25 09:08] mlottner commented on #156
@LivefromRaleighwood
Thanks for taking the time to give us feedback.
I've flagged your bookmark features requests to our site experience team.
Appreciate your contribution to our community!

[2019-11-25 09:08] #156 closed

[2019-11-25 09:10] mlottner commented on #109
Closing this issue. If required, feel free to re-open and respond.

[2019-11-25 09:10] #109 closed

[2019-11-25 09:11] mlottner commented on #107
Closing this issue as resolved. If further action is required, please re-open and let us know.
Appreciate your contribution to our community!

[2019-11-25 09:11] #107 closed

[2019-11-25 09:16] mlottner commented on #99
@phoneticus Thanks for taking the time to give us your feedback.
I'm closing this issue as the page you left feedback for doesn't have an Excel workbook or examples available for download.
If you need further assistance, please re-open and let us know how we can help!

[2019-11-25 09:16] #99 closed

[2019-11-25 09:18] mlottner commented on #119
@kuhlaid Thanks again for taking the time to give us feedback!
I'm closing this issue as we haven't heard back from you.
If you still need help or have additional site feedback, feel free to re-open as needed.

[2019-11-25 09:18] #119 closed

[2019-11-25 09:22] mlottner commented on #124
@OwlInSunglasses Thanks for taking the time to give us blog feedback.
In the future, make sure to open Git feedback on the page you have comments for. Direct page feedback ensure the right product owners have immediate access to our comments and requests.
In the meantime, I've forwarded your comments.
Appreciate your contribution to our community.

[2019-11-25 09:22] #124 closed

[2019-11-25 09:27] mlottner commented on #6
@StingyJack Thanks for taking the time to give us your feedback.
We've worked to improve the feedback mechanisms since your original post.
Within Git, use the **edit** option to suggest changes to pages you feel are in error, and use the **feedback** option to ask questions to either doc or product owners. Both are answered.
If a page doesn't have a feedback option, you can use the **Is this page

[2019-11-25 09:27] #6 closed

[2019-11-25 09:40] mlottner commented on #129
@ehaerim Thanks again for taking the time to give us feedback.
I'm closing this issue as we haven't heard back from you.
Feel free to re-open if/as needed.

[2019-11-25 09:40] #129 closed

[2019-11-25 09:51] mlottner commented on #75
@ImageQC @LukasGibb Thanks for taking the time to give us your feedback.
I've forwarded your comments about your frustrations with site experience and logins with multiple aliases.
Closing this thread, but feel free to re-open if/as needed.

[2019-11-25 09:51] #75 closed

[2019-11-25 09:54] mlottner commented on #8
@nguyenthanhliemfc Thanks for taking the time to give us your feedback.
I've flagged this request to our language specialists for awareness and consideration.

Appreciate your contribution to our community!

I'm closing this issue, but feel free to re-open if/as needed.

[2019-11-25 09:54] #8 closed

[2019-11-25 09:56] mlottner commented on #16
@tomresing Thanks for taking the time to give us feedback!
Glad to see the new feedback functionality is working for you.
I'm closing this issue for now, but feel free to re-open if/as needed.

[2019-11-25 09:56] #16 closed

[2019-11-25 10:01] mlottner commented on #17
@shirgoldbird Any updates on this? I'd like to close this thread and move it to site feedback.

[2019-11-25 10:06] mlottner commented on #19
@DeanGross @StillLearnin @obivon Thanks for taking the time to give us feedback on visuals.
Our content guidance remains the same and we aim for minimal graphics use. Graphics are encouraged only when warranted to explain complex ideas or flows.
I'm closing this issue for now, but feel free to re-open it if/as needed.

[2019-11-25 10:06] #19 closed

[2019-11-25 10:07] StingyJack commented on #6
@mlottner - thanks, I'm aware of how to try to fix docs pages that need it (though some page authors/page owners seem to be awol).

I'm going to have to disagree that product feedback are answered. In my experience, I'm at _least_ 5x more likely to get a "sorry, nobody from the assigned product team could look at it in after being opened for > 90 days" closure than to get a response from a product

[2019-11-25 10:10] mlottner commented on #23
@shirgoldbird Is there an update on this? I'd like to close if resolved or scheduled.

[2019-11-25 10:12] mlottner commented on #25
@MarcioAB Thanks for taking the time to share your feedback.
I'm closing this issue as roll-out is complete.
Feel free to re-open if/as you feel it is needed.

[2019-11-25 10:12] #25 closed

[2019-11-25 10:15] mlottner commented on #35
@ywchiang0819121 Thanks for taking the time to give us site feedback.
Make sure to leave product feedback or documentation questions on the specific page or product for which you have an issue.
I'm closing this issue for now, as I don't know what specific docs page you meant to reference. Feel free to re-open if/as needed.

[2019-11-25 10:15] #35 closed

[2019-11-25 10:17] mlottner commented on #125
@kvs1983 Thanks again for your feedback.
I'm closing this issue, feel free to re-open if/as needed.

[2019-11-25 10:17] #125 closed

[2019-11-25 10:19] mlottner commented on #74
@adeenadayalan Thanks for leaving us site feedback.
Make sure to leave page feedback on the specific docs page of your inquiry or issue to ensure the content/product owner can respond quickly.
I'm closing this issue for now, but feel free to re-open it with site feedback if/as needed.

[2019-11-25 10:19] #74 closed

[2019-11-25 10:21] mlottner commented on #67
@Claus-Andersen Thanks for taking the time to leave us blog feedback.
The commenting is now fixed and working. Appreciate your patience as we got through the growing pains of moving systems.
I'm closing this issue, but feel free to re-open if/as needed with blog feedback

[2019-11-25 10:21] #67 closed

[2019-11-25 10:24] mlottner commented on #40
@stamminator Thanks again for your question.
I'm closing this issue as resolved.
Please feel free to re-open if/as needed with additional blog feedback.

[2019-11-25 10:24] #40 closed

[2019-11-25 10:27] mlottner commented on #48
@dragonix11 Thanks for taking the time to give us feedback on the new docs.microsoft.com!
Make sure to ask questions and post feedback on the specific product pages that can help you in your Azure journey to get fast response and guidance.
I'm closing this blog feedback issue, but feel free to re-open if/as you have additional feedback on our blogs.

[2019-11-25 10:27] #48 closed

[2019-11-25 10:32] mlottner commented on #52
@andyyangzhao Thanks for taking the time for give us your feedback.
I've reassigned this issue to the content owner to address your requested change.
In the future, make sure to leave docs feedback about a specific page on that page to make sure the content/product owner sees it immediately.
Appreciate your contribution to our community!

[2019-11-25 10:34] mlottner commented on #73
@AlexHedley Thanks for leaving us blog feedback.
I'm closing this issue as resolved, but feel free to re-open if/as needed to leave additional blog feedback.

[2019-11-25 10:52] mlottner commented on #6
@StingyJack Thanks for your fast response.
While I can't speak for every content developer, product or every product owner, we all do our best to answer and respond to customer issues as fast as we can.
While I can appreciate your desire for a single point of contact, and have flagged your suggestion to the relevant infrastructure related parties, leaving this specific blog feedback issue open (or

[2019-11-25 10:58] AlexHedley commented on #73
@mlottner what is the resolution? Has this new functionality been implemented as an option in the WebApi Help project?

[2019-11-25 11:04] mlottner commented on #73
@AlexHedley Sorry, perhaps I didn't understand your original feedback.
You wrote: "Is this something you’d bring to the Help Pages for our own APIs?"
I've re-assigned this issue to the owner of that docs page. Can you explain your request or feedback again to make sure we've understood.

[2019-11-25 11:44] mgkuhn commented on #6
@Stingray I think you may be going down a dangerous path here when you try to conflate product assistance with feedback. A feedback channel is aimed at expert users who have found a bug or want an efficient way to communicate a product-improvement suggestion directly to developers. Product assistance is for less experienced users who are struggling with understanding the product and require some h

[2019-11-25 11:55] AlexHedley commented on #73
Hi @mlottner the blog article is explaining the new feature of the "REST API browser" with the new "Try It" button.

Currently there is a Project type you can add to your own custom .NET API Projects that add the REST help pages (link above) but there isn't an option to "Try It", I was wondering if this new functionality would be added to the above "Help" pages?

[2019-11-25 11:57] AlexHedley commented on #73
Much like [Adding a simple Test Client to ASP.NET Web API Help Page](https://blogs.msdn.microsoft.com/yaohuang1/2012/12/02/adding-a-simple-test-client-to-asp-net-web-api-help-page/) but officially.

[2019-11-25 13:00] mlottner commented on #73
@AlexHedley I don't know of any plans, but I tagged the page owner so let's wait for their response.

[2019-11-25 13:05] mlottner commented on #80
@komalpharate Thanks for your blog feedback.
I've reassigned this question to the page owner of the [page you referenced](https://docs.microsoft.com/en-us/rest/api/storageservices/append-block).
In the future, make sure to open feedback or questions on the specific docs page to ensure your query gets the fastest response possible.
Appreciate your patience.

[2019-11-25 13:09] mlottner commented on #88
@RoshanKumarMicrosoft Thanks again for your feedback and inquiry.
I'm closing this issue as it appears the issue was resolved for you.
Feel free to re-open if/as you need.
Appreciate your contribution to our community.

[2019-11-25 13:09] #88 closed

[2019-11-25 13:21] StingyJack commented on #6
@mgkuhn - you mean me?

[2019-11-25 13:25] mlottner commented on #110
@kottogriffitheduau Thanks for taking the time to give us feedback.
I've reassigned this issue to team responsible for site experiences.
For faster responses, make sure to leave feedback on the specific docs pages of interest.

[2019-11-25 13:31] mlottner commented on #127
@gman8321 Thanks for taking the time to share your blog feedback.
I've reassigned this issue to the content team from Learn.
In the future, make sure to submit your page or platform feedback on the specific tool or product to ensure you get the most timely response possible.
Appreciate your contribution to our community!

[2019-11-25 13:36] mlottner commented on #130
@MarcoJanse Thanks so much for taking the time to share your Microsoft Learn feedback!
I've assigned this issue to the Learn team to answer all of the questions and requests in this thread.
In the future, make sure to leave feedback and questions in the specific product or page of interest to get the fastest response possible.

[2019-11-25 13:37] mlottner commented on #133
@jffriend Thanks for your blog feedback.
I'll work to get the sidenotes mention removed from the post.

[2019-11-25 13:37] #133 closed

[2019-11-25 13:54] mlottner commented on #134
@guybartal Thanks for your question!
The Microsoft Docs platform was custom built and continues to be internally maintained on top of GitHub. Base functionality is of course available from GitHub including the ability to add issues such as these to a repo. The possibilities for docs platforms on GitHub are nearly endless, but  docs.microsoft.com is not open source. In addition, the page Feedback f

[2019-11-25 13:54] #134 closed

[2019-11-25 13:57] mlottner commented on #135
@gix Thanks for your feedback.
Unfortunately, as we switch delivery systems, links to old features and support systems are occasionally not maintained. I'll try to see if the post can be updated and fixed. For site feedback, you can always use the link at the bottom of any docs.microsoft.com page.
Appreciate your contribution to our community.

[2019-11-25 13:57] #135 closed

[2019-11-25 16:26] mlottner commented on #136
@sulmar Thanks for taking the type to report this issue.
I've edited the page and submitted a pull request to fix the link.

[2019-11-25 16:26] #136 closed

[2019-11-25 16:33] mlottner commented on #137
@TotallyInformation Thanks for taking the time to give us your feedback.
I've flagged the relevant teams to make them aware of your feature request. Unfortunately, docs.microsoft.com infrastructure is not currently an open source project or one that is a shippable product, but we certainly appreciate the acknowledgement of all of the teams involved in bringing the site to life and maintaining it!

[2019-11-25 16:33] #137 closed

[2019-11-25 16:36] mlottner commented on #138
@DavidCountry Thanks for taking the time to leave us blog feedback.
I've reassigned your comment to the page owner for awareness and possible resolution.
In the future, make sure to comment or leave feedback on the specific page for the fastest possible response.

[2019-11-25 16:39] mlottner commented on #139
@Emmanuel-GD Thanks for taking the time to leave us your feedback.
docs.microsoft.com is comprised of thousands of pages of content and is updated multiple times of day from thousands of contributors around the globe. Making an offline (and updated/accurate) version would be virtually impossible and constantly inaccurate.
Appreciate your contribution to our community.

[2019-11-25 16:39] #139 closed

[2019-11-25 16:41] mlottner commented on #141
@davidArbeya @fabiocesarato Thank for both for your feedback on the blog.
I've re-assigned this issue to the Learn team to answer your questions.
Appreciate your contribution and involvement in our community.

[2019-11-25 17:04] mlottner commented on #144
@Josemboa Thanks for taking the time to leave us blog feedback.
What page of Microsoft docs was this error in reference to?
In the future, make sure to leave your question, issue or feedback on the specific page you have questions on in order to get the fastest reply possible.
I'm closing this issue for now, but feel free to open it again if/as needed with additional site feedback.

[2019-11-25 17:04] #144 closed

[2019-11-25 17:06] mlottner commented on #145
@dmt87uk Thanks for taking the time for leave us feedback.
I've reassigned this question to a member of Learn to answer your question (and the subsequent add-on questions) about Learn badges and trophy behavior and availability.
Appreciate all of your contributions to our community!

[2019-11-25 17:10] mlottner commented on #146
@christopher-brock Thanks so much for taking the time to leave us feedback.
Unfortunately, docs.microsoft.com is not currently available as an accessible external template.
It takes a large team within Microsoft to build and maintain it 24/7 and isn't yet an external facing offering.

[2019-11-25 17:10] #146 closed

[2019-11-25 17:15] mlottner commented on #147
@tb-mtg Thanks for taking the time to give us feedback and throw some love at docs!
Unfortunately, docs.microsoft.com isn't currently a publicly available template or layout. It takes a large team at Microsoft to continuously write, maintain and build the site 24/7, but we do appreciate your recognition of our efforts. I have alerted the site infrastructure team of your request.

Appreciate your c

[2019-11-25 17:15] #147 closed

[2019-11-25 17:18] mlottner commented on #148
@mbedford78 Thanks for taking the time to leave your blog feedback.
I've assigned your issue to a member of our Learn team for answers and a roadmap.
In the future, make sure to leave product or path feedback on the product page to ensure the fastest response possible.
Appreciate your contributions to improving the Microsoft docs community.

[2019-11-25 17:22] mlottner commented on #151
@Player1UK Thanks for taking the time to leave your question on blog feedback.
I'm unaware of any limit on issues in a repository and regularly work on repositories with hundreds of issues with no loading issues.
Has this issue continued? I'm closing this issue for now, but feel free to re-open it if/as you continue to require assistance on this.

[2019-11-25 17:22] #151 closed

[2019-11-25 17:23] mlottner commented on #154
@caeschlimann Thanks for getting in touch.
Your feedback is blank, so I'm unsure how we can help.
I'm closing this issue, but feel free to re-open if /as you require additional assistance.

[2019-11-25 17:23] #154 closed

[2019-11-25 17:26] mlottner commented on #143
@lukacs-andras Thanks for taking the time to give us site usability feedback.
I've flagged this request to our usability team for further investigation. I'm closing the issue, but feel free to re-open if/as needed with further feedback.
Appreciate your contribution to our community.

[2019-11-25 17:26] #143 closed

[2019-11-25 18:15] Player1UK commented on #151
Whatever I did must have resulted in an issue being identified something being fixed, as over a short period back in June the issue gradually got resolved.
My feedback cadence has since declined, however, after finishing submitting all the fixes I had.

[2019-11-25 21:31] scottaddie commented on #73
@AlexHedley The blog post describes a feature intended for use ONLY in our docs.microsoft.com platform. If you want something similar for your ASP.NET 4.x Web API, install the third-party [Swashbuckle](https://github.com/domaindrivendev/Swashbuckle) package. After installing, you'll have access to a page similar to the following:

![image](https://user-images.githubusercontent.com/10702007/6957963

[2019-11-25 21:36] AlexHedley commented on #73
Hi @scottaddie thanks for the reply, I currently use Swagger via Swashbuckle, it’s great and works really well.

Do you know if this MS version is something you’d look to add as a feature to the Help project, seems like a really useful tool that developers would love to add to their own projects

[2019-11-25 21:43] scottaddie commented on #73
@AlexHedley I'm not aware of any plans to do so. The majority of the team's efforts are focused on ASP.NET Core at this time.

A Microsoft-authored testing tool that might interest you is the [HTTP REPL](https://docs.microsoft.com/aspnet/core/web-api/http-repl?view=aspnetcore-3.0&tabs=windows). You'll need the .NET Core SDK to install it; however, it can be used to test ASP.NET 4.x Web APIs from t

[2019-11-25 21:47] AlexHedley commented on #73
Thanks, another great tool I’ve used, works well locally. Guess I’ll stick with Swashbuckle atm, appreciate you taking the time to reply and sharing some options :-)

[2019-11-25 21:48] scottaddie commented on #73
@mlottner You can close this issue now.

[2019-11-26 09:39] #73 closed

[2019-11-26 09:42] mlottner commented on #151
@Player1UK Glad to hear it is fixed.
Appreciate your contribution to our docs community!

[2019-11-26 21:07] tamram commented on #80
@komalpharate - It would be better to use a block blob for video files, as block blobs are optimized for streaming.

Append blobs are ideal for functions such as logging, where you only need to append data to the end of the blob.

For more information, see [Understanding block blobs, append blobs, and page blobs](https://docs.microsoft.com/rest/api/storageservices/understanding-block-blobs--append

[2019-11-27 03:02] StingyJack commented on #6
@mlottner - can I get your opinion on things like this https://github.com/MicrosoftDocs/vsts-docs/issues/5375

This was just the first one I happened to come across that wasn't my own issue. The closer on it has done the same to me several times, and all but one or two were done incorrectly. The closer relented only after getting a response in kind, and then only to pacify/defuse.

If you really t

[2019-11-27 07:28] #80 closed

[2019-11-27 09:33] mlottner commented on #6
@StingyJack I fully appreciate your passion about this feedback issue. Thanks you for continuing the conversation.
While I can't speak to how every person responds to GitIssues, I can tell you that our singular goal is the be helpful. Your feedback allows us to understand your perspective, fix issues when they are raised and offer you (and the thousands of other users that "talk" to us via multipl

[2019-11-29 23:14] frank-e commented on #163
I got lost in the e-mail settings, the account (github or MS) doesn't matter, it's anyway the same image and the same gmail address everywhere, but I rarely check my e-mail (roughly annually).

[2019-12-02 20:35] MashaMSFT commented on #52
Hi @RobotOverlord , thanks for your contribution and feedback! The syntax you have written looks correct. Did you want to update the documentation yourself? This way you'll be credited as a contributor to the documentation.

1. Navigate to the page of interest
2. Select the "Edit" button at the top right of the page
3. Select the "Pencil" icon on the right
4. Modify the text within the text box in

[2019-12-05 01:12] MashaMSFT commented on #52
Hi @RobotOverlord, I see the syntax in the article as:

![image](https://user-images.githubusercontent.com/32783170/70194850-c00b9700-16b8-11ea-88d7-0b7c8f3996fa.png)

Which looks the same as what you've listed here - sorry, am I misunderstanding something?

Additionally, @andyyangzhao, my apologies, I am not sure I understand what your question is?

Step 1 makes the target secondary replica synch

[2019-12-05 01:42] hugohhk opened #165 "Hide the Left Navigation Pane"
Is it possible to implement a feature to hide the left navigation pane?
The left navigation pane is taking up to much space on the page, and making the lines in paragraph too short.
That makes the article as a whole very long and difficult to read.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6079073a-0dd9-3b9b-c160-

[2019-12-09 16:11] MashaMSFT commented on #52
Hi @RobotOverlord and @andyyangzhao , it's been some time since we've heard from you. As such, we're going to assume that your question has been addressed and close out this Git Issue. However, should you need anything further, please feel free to leave a comment.

Thanks and hope you both have a wonderful rest of your Monday!
Masha from the SQL Docs team
#please-close

[2019-12-09 16:56] #52 closed

[2019-12-09 16:59] mlottner commented on #165
@hugohhk Thanks for taking the time to give us feedback.
I've flagged this issue to the site improvement and enhancement team for awareness and possible inclusion in a future build.
Appreciate your contribution to our community.

[2019-12-09 16:59] #165 closed

[2019-12-09 17:17] mlottner commented on #163
@frank-e Thanks for answering.
I've flagged your frustration with the email settings to our site design team for awareness and potential future adjustment.
Appreciate your contribution to our user community!

[2019-12-09 17:17] #163 closed

[2019-12-09 17:25] mlottner commented on #17
Thanks everyone for your feedback and suggestions with regards to how Microsoft handles future site migration and comment archiving.

We've taken all of your feedback for inclusion in our plans for future upgrades and changes.

I'm closing this issue for now, but feel free to open new site feedback issues if you need to report additional issues, or offer your suggestions and ideas for other types

[2019-12-09 17:25] #17 closed

[2020-01-05 04:39] fpalmaa commented on #145
Do we have any news about this issue?  It is dissapointing not be able to get some acknowledgment of for the effort.  Yes, it only a badge or trophy, but it helps in our development efforts.
Please consider Microsoft Learn team

[2020-01-05 10:35] mlottner commented on #145
@yunyunyunyun Can you please take a look at this customer request.

[2020-01-22 05:39] kefujino opened #166 "Cannot search for MSCommers PS module on PowerShell Module Browser"
I am a user of PowerShell Module Browser (PSMB).
https://docs.microsoft.com/en-us/powershell/module/

I really heavlly rely on this web service to find Microsoft PowerShell modules.
But, I noticed the MSCommerce module (https://www.powershellgallery.com/packages/MSCommerce/1.2) has not been searchable on PSMB.

This article describes to "search all Microsoft PowerShell modules and cmdlets", but ac

[2020-02-10 14:20] marcelwicke opened #167 "Track Teams Progress"
Hi,
how is it possible to track progress of my team members I shared a collection with? Or is this an upcoming feature?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46c2a70c-c859-cccf-25c3-e2fd81216fc6
* Version Independent ID: 46eab899-7f9e-88a9-947a-2afba61ec984
* Content: [Announcing Learn Collections](https://doc

[2020-02-11 09:08] stmax82 commented on #153
@mlottner the feedback functionality still hasn't returned to the API docs.. what happened to it and is there a new way to report bugs in the documentation?

[2020-02-11 11:23] mlottner commented on #153
@stmax82 Until the feedback functionality returns to the page, your best method is to open a PR on the page as I suggested previously. Otherwise, flag the page you would like to comment on with a new site feedback issue and we'll flag it for fix with the .NET team.

[2020-02-11 23:59] mimisasouvanh commented on #153
The feedback control was moved to the upper right corner of the page. You'll see "Is this page helpful"
![image](https://user-images.githubusercontent.com/7453668/74290682-6f7f6e00-4ce7-11ea-9a6a-2f32c44f45d1.png)

[2020-02-12 16:50] Anand-Moghe opened #168 "Can you allow creation of nested collection to release a single URL containing multiple learning path"
It would be nice to have a collection made up of other collection (of learning path) and release it as a Cloud Skill Challenge with single URL for entire organization.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26c7d914-e786-d705-977d-4f5fe050f420
* Version Independent ID: 90e0d126-c3ff-00ec-b910-528c64a8c9db
* Con

[2020-02-13 07:43] mlottner commented on #153
@mimisasouvanh I believe both @stmax82 and @TobiasKnauss were looking for the page "feedback" mechanism where they can report content bugs, and ask for clarifications. Not the actual feedback button of voting whether or not the page is helpful. While the feedback button opens a dialog box, it may not be clear that it can be used for requesting corrections etc. as other pages on docs.microsoft.com

[2020-02-13 07:56] stmax82 commented on #153
Yes I meant the feedback functionality that creates issues on github.. best thing ever added to Microsoft docs:

![image](https://user-images.githubusercontent.com/6381927/74412293-5e487580-4e3d-11ea-91c2-315cbf18c1d1.png)

I'm not clicking the "Is this page helpful?" button because you never know if anyone's ever going to look at and use this data.

Not really happy about the "Edit" button either

[2020-02-13 08:38] TobiasKnauss commented on #153
Exactly.

@stmax82: I agree, I wouldn't edit ans content either, especially since this is not my job. MS should be glad that we're already telling them when we find faulty or unclear parts on their documentation. If they remove that feedback mechanism, this looks like they don't want our qualified feedback any more and instead ignore us users again, as it has been their practice for years.

[2020-02-13 15:38] mlottner commented on #166
@kefujino Thanks so much for taking the time to leave us your feedback and request.
I've internally flagged this module search issue for a member of the docs site product team for awareness and research.
Appreciate your contribution to our community!
@docs-product

[2020-02-18 17:58] michevnew commented on #157
Sorry to bring this up again, but currently the TechNet Gallery is in a very broken state:

![image](https://user-images.githubusercontent.com/38553333/74763684-e937ce80-5288-11ea-8f0c-5b8aa25a4d0e.png)

Is it still supported, I havent seen any announcements about retirement yet? Can you share the plans around this, and possibly find someone to fix the current issues?

[2020-02-18 18:07] aprilspeight commented on #157
@rloutlaw could you please take a look into this issue? thanks!

[2020-02-19 13:17] mlottner commented on #157
@docs-product Can you take a look this please and reassign as needed? Thanks!

[2020-02-21 18:19] AlexA-1976 opened #169 "Full-screen immersion"
Is there a way have an article in 'readability mode' so that everything is hidden by the content?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6079073a-0dd9-3b9b-c160-76e0dd525a3c
* Version Independent ID: 631788a5-f4bc-7df0-0540-2a0f67b631de
* Content: [Introducing docs.microsoft.com](https://docs.microsoft.com/en-u

[2020-03-01 14:52] jeffbarnes769 commented on #130
Hi, In the past I earned a number of badges on MVA, and now can no longer find them?  Do they still exist - even if retired?

[2020-03-01 20:58] samirgunic commented on #130
I presume you're referring to the certificates of completion. I'm afraid those are long gone by now.

This is a paste from an e-mail I received on Mon 1/28/2019.

This is another paste from an e-mail I received on 2/12/2019. As you can see, the final date has been pushed back from January 31 to April 30. That's year 2019, so that's almost a year ago now.

Although it says that you have to "finish

[2020-03-01 21:13] jeffbarnes769 commented on #130
Thanks
I do have some of the certificates of completion downloaded and a
transcript - but was actually talking about badges that were offered for
completing a number of courses together.  If I recall, completing 4 courses
for Big Data; 2 or 3 of IOT...   Looking to see if they are available,
since the links are no longer valid: i..e
https://mva.microsoft.com/RewardEvidence.aspx/?key=06GDi-Dt1zSX41

[2020-03-01 22:38] samirgunic commented on #130
I see what you mean now. In a perfect world those would have been transferred to the new site during migration. Microsoft Learn (ML) also has a concept of badges (and trophies), just not the ones you earned at Microsoft Virtual Academy (MVA). I think you will find that equivalent badges are available at ML, but you will be expected to perform some tasks in order to claim them. In contrast with MVA

[2020-03-02 11:41] jeffbarnes769 commented on #130
Thank you very much for the detailed response.  I already have an account on ML, and a couple of courses completed.   What I understand is that links to the previous badges/trophies no longer exist?

 _I think you will find that equivalent badges are available at ML, but you will be expected to perform some tasks in order to claim them._

To be clear, "some tasks" means to retake the course(s), co

[2020-03-02 22:55] samirgunic commented on #130
When you put it like that, yes. Although technically it's not so much about retaking the courses, since the new courses don't have a one-on-one correspondence with the new coureses. Well, the new courses are not even courses, they are now called "modules" or "learning paths" rather (where modules serve more like chapters).

Links to previous badges have been invalidated I think. They all just redi

[2020-03-03 15:50] jeffbarnes769 commented on #130
Thanks Samir, have my answer.
Q: Are my previous badges accessible?
A: No, they are not

[2020-03-03 17:10] DMiradakis commented on #76
@dend Would you mind sharing a list of the specific extensions you use on top of DocFX? Thanks!

[2020-03-04 08:03] #130 closed

[2020-03-04 08:05] mlottner commented on #168
@Anand-Moghe Thanks so much for taking the time to leave us your feedback and suggestion for Microsoft Learn.

I've flagged your suggestion for internal review and consideration.

We really appreciate your contribution to our customer community!

[2020-03-04 08:05] #168 closed

[2020-03-04 08:10] mlottner commented on #167
@marcelwicke Thanks so much for taking the time to ask your question and give us your feedback.
At present, this feature is not available, but is being considered on the roadmap.
I've flagged your request with a member of the relevant product teams for review and consideration.
Appreciate your contribution to our customer community!

[2020-03-04 08:10] #167 closed

[2020-03-04 08:21] mlottner commented on #169
@AlexA-1976 Thanks for taking the time to give us your feedback and ask about new display features. At present, there isn't a way to hide all navigation and only display content on the platform.
In the meantime, I've tagged your request to a member of the relevant team for review and consideration. We really appreciate your contribution to our user community!

[2020-03-04 08:21] #169 closed

[2020-03-05 19:53] Anand-Moghe commented on #168
@mlottner I have also noticed that I am unable to edit/Update the CSC with the TPID and Org Unit etc if it is of the type Collection. This need to be fixed as well. We need to allow CSC of Collection types to have those attribute as well so it is easier to track based on targets.

[2020-03-08 12:40] mlottner commented on #168
@Anand-Moghe Thanks for this additional feedback. In the future, make sure to open a new feedback item if your ask or issue is different from the original issue. This ensures it always gets added to the feature request queue. Appreciate your contribution!

@yunyunyunyun Learn feature request list addition.

[2020-03-11 07:59] Sree4103 opened #170 "Input"
Looks Good

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0193ed76-3eec-18ac-512f-45f8118dde34
* Version Independent ID: 8e693833-3e45-2bb8-ddc2-d0c54936c3c1
* Content: [A New Feedback System Is Coming to docs.microsoft.com](https://docs.microsoft.com/en-us/teamblog/a-new-feedback-system-is-coming-to-docs#feedback)
* C

[2020-03-22 00:07] bergano65 opened #171 "uncertain expressions"
- samples are organized by "product team". it's not clear why let's say visual studio link content sorted by "product team", not by "product"
- "new code samples experience"/"new code samples  browser" why same link has different names

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71641b13-2c55-a107-c10e-4475ca0a4dc6

[2020-03-22 22:01] ajaybehuria opened #172 "Individuals having completed the same learning paths and modules have different scores in the Challenge Growth. Why so?"
Individuals having completed the same learning paths and modules have different scores in the Challenge Growth. Why so?

[2020-03-24 16:12] aprilspeight commented on #171
@bergano65

- i can change from 'product team' to 'product'
- i can update the link names to be consistent

I submitted a PR for someone on the Docs team to approve the change (I'm no longer on the team).

[2020-04-01 09:08] icelava opened #173 "Design theme selection"
The theme widget has been moved from the right menu bar to the page footer. Took me a long time to search around for it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6079073a-0dd9-3b9b-c160-76e0dd525a3c
* Version Independent ID: 631788a5-f4bc-7df0-0540-2a0f67b631de
* Content: [Introducing docs.microsoft.com](https://

[2020-04-02 19:41] IEvangelist commented on #173
The Azure repo isn't unified yet, but the Theme is missing from there too. 😢

[2020-04-02 19:51] scottaddie commented on #173
@dend explained the reasoning here: https://twitter.com/DennisCode/status/1242864450769530880

[2020-04-02 19:52] CamSoper commented on #173
@dend's reasoning is fine, but I would argue that those two site-wide settings need to be accessible near the top of the page. Otherwise I feel like it's a bit of a usability issue.

[2020-04-02 19:54] IEvangelist commented on #173
That makes sense, but it doesn't make it any easier to find. Also, now that users were used to having it in one place -- they'll end up becoming frustrated if they're unable to find it.

[2020-04-04 07:53] Surajyadav7 opened #174 "<h1>hii<h1>"
&lt;script&gt;alert(1;)&lt;/script&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3cc2eeb-65d6-a3e0-d639-897bd10abca1
* Version Independent ID: f5fedc76-74dc-6ec4-eb1a-267dd9f6d938
* Content: [Updating the navigation experience on docs.microsoft.com](https://docs.microsoft.com/en-us/teamblog/updating-navigation#fe

[2020-04-04 07:55] Surajyadav7 commented on #174
<svg onload alert(1*1)>

[2020-04-04 07:55] Surajyadav7 commented on #174
<svg onload alert(1*1)>

[2020-04-08 16:13] mfcallahan commented on #173
This tweet mentions that docs.microsoft.com "now automatically picks the theme based on your OS theme..." but this didn't work for me (Chrome 80.0.3987.122 on Windows 10 Enterprise ver 1809 build 17763.1039 with "Dark" set as default app mode under Settings).  Glad I came across this open issue - it was taking me forever to find the theme selection option.

[2020-04-10 16:02] #174 closed

[2020-04-17 22:54] otter007 opened #175 "You should archive IT Pro oriented code"
You should archive the itpro oriented code from the TechNet gallery.  Its still a good resource. You have made the developer oriented code available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12b90746-323d-e43e-6dd4-97859717447e
* Version Independent ID: 5d68ad61-ec5a-b909-a8a9-65d5d2feb61e
* Content: [TechNet Gal

[2020-04-17 23:22] #175 closed

[2020-04-17 23:23] otter007 commented on #175
As you suggested we can probably find this type of code on github or in blogs.  It will just take additional steps.  No need to spend time here.

[2020-04-20 07:00] Abdul8383 commented on #175
TechNet Gallery Retirement
Hi, I have lots of articles on TechNet gallery, are you going to migrate them all or do I have to take backup myself?

[2020-04-21 17:35] docs-product commented on #23
@mlottner closing this issue as we do not have immediate plans on changing this behavior.

[2020-04-21 17:35] #23 closed

[2020-04-24 06:39] itjediFrank opened #176 "Please do not delete the content"
There are a lot of references to TechNet Gallery content in diverse blog posts (also from MS) or forum entries and so on. The migration for MSDN and TechNet blogs to https://techcommunity.microsoft.com/ or https://devblogs.microsoft.com/ was already a nightmare and is to some extent still a nightmare. Please do not repeat the same mistake!

---
#### Document Details

⚠ *Do not edit this section. I

[2020-04-26 12:12] ChadSimmons commented on #176
There's so much good content in the gallery; I can't fathom Microsoft just deleting it after about a 3 month announcement.  With CodePlex, Microsoft had about a year of wind down and still hosts projects in an archive / read-only / download only, mode.  Surely the TechNet Gallery could get a similar level of treatment.

[2020-04-27 15:48] TheAnahaym opened #177 "language separation?"
TechNet Forums have a language separation. What about Q&A?
https://social.technet.microsoft.com/Forums/EN-US
https://social.technet.microsoft.com/Forums/DE-DE
https://social.technet.microsoft.com/Forums/RU-RU

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5be114f3-6668-8b9d-b698-a088050edd1e
* Version Independent ID: 3

[2020-04-27 17:32] saldana commented on #177
@TheAnahaym Q&A we will have language separation in the next few weeks. Note that right now we only support English and we will move to support other languages in the next few months.

[2020-04-27 18:10] TheAnahaym commented on #177
Saldana, thank you for the good news!
Maybe you also could answer my other questions:
where can I read the rules?
who defines rules for the non-English QA?
who will be moderators of the non-English QA?
whom can I complain to if a moderator abuses their authority?

Thank you in advance!

[2020-05-08 16:59] sid590 commented on #176
Great Article,loved the content.
Can the same be applied on www.bestbioforinstagram.in ?

[2020-05-08 21:50] ixdarchitects opened #178 "Love to read more of the make of docs.microsoft.com"
Is there a place where we can learn:
1. more backstories of docs.microsoft.com
2. HOW-TO stories of the doc system, i.e.
  a. how is it built, using what framework and how is it integrated with Github
  b. how did you guys migrate contents from the old documentation systems of different products

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-05-21 00:22] jpickerell commented on #176
Yes Microsoft, there is just too many good resources here for you to just flush down the toilet! Years and years of useful scripts in so many different areas! It might be an extremely low use/low traffic site, but when you need a good example, there are just too many here to lose access to!

Please reconsider!

[2020-05-26 22:52] saldana commented on #177
@TheAnahaym we have not defined any rules yet for non-English Microsoft Q&A. We already have the locale in the URL and when there is another language supported it will be visible as the UI and the URL will be in that particular locale.

We make moderators first to Microsoft employees and other users affiliated to Microsoft, such as MVPs. We will be moderating the communities to see who can become

[2020-06-08 04:34] interioratoz opened #179 "Interior Designer in Dwarka"
Interior Designer 9891050117, offers interior designer and interior decorator

services | Residential | Commercial

[www.interioratoz.com](www.interioratoz.com)

[2020-06-20 15:50] snehajainhyd opened #180 "How can possible Microsoft website Backlink"
Please help i am new Bloger
[](https://www.hyderabadbeauties.com)
[](http://natasharoy.in)
[](http://www.isajain.com)
[](https://www.shwetabasu.com)

[2020-06-20 15:55] snehajainhyd commented on #180
[HyderabadBeauties](https://www.hyderabadbeauties.com)
[NatashaRoy](http://natasharoy.in)
[Isajain](http://www.isajain.com)
[ShwetaBasu](https://www.shwetabasu.com)

[2020-06-25 23:45] rmtexas opened #181 "My Opinion"
While making the gallery read-only might be a good move, I think it is a poor choice to remove it permanently as a valuable resource for some rather esoteric knowledge that is incredibly helpful.  Yes it may not see the traffic that you would like, but that's the nature of esoteric stuff.  Now there might be a handful of other articles or blog posts that delve into the esoteric intricacies of perf

[2020-07-03 17:54] r-milne opened #182 "Update"
Hi folks,

June has come and gone. Is there a date for retirement?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12b90746-323d-e43e-6dd4-97859717447e
* Version Independent ID: 5d68ad61-ec5a-b909-a8a9-65d5d2feb61e
* Content: [TechNet Gallery Retirement](https://docs.microsoft.com/en-gb/teamblog/technet-gallery-retireme

[2020-07-06 04:26] RufusVS commented on #176
I just found out about this archive.  I'd hate to lose it so soon!

[2020-07-09 01:26] v-kydela opened #183 "Why is there no longer any on-page feedback?"
The feedback system worked great while it lasted. You could see the feedback directly on the docs page, and you could easily link directly to the corresponding GitHub issue. But starting last month it looks like you can no longer see feedback on the docs page and you have to go to GitHub:

![image](https://user-images.githubusercontent.com/41968495/86986085-a4cda200-c147-11ea-962c-e2680e915362.png

[2020-07-26 06:31] mushahidhussainalvi opened #184 "Good Feelings After Reading This"
[Enter feedback here]
There is a Good And Meaningful Article on [**_That Topic_**](http://hindirecipe.info/).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6ea739a-51ed-b870-86b0-7db42311ccdd
* Version Independent ID: ba8666ad-8287-3eea-07a8-971669624cfe
* Content: [An Update on the MSDN and TechNet Migration to docs

[2020-07-26 06:32] mushahidhussainalvi commented on #184
There Was a Great Article on [That Topic](http://hindirecipe.info/)...

[2020-07-28 10:44] wrjohnson opened #185 "Guidance for non-developers?"
There is a fair bit of  powershell  "Import-Module ....." for modules in the TechNet gallery,.
Those of us who are new to the party could not possibly "prepare for the retirement" of a repository retired before we even attempted to access it.

Some guidance for configuring access to the successor powershell module repositories would be appreciated.

---
#### Document Details

⚠ *Do not edit this s

[2020-07-30 08:45] naresh-i-technologies opened #186 "Data Science Online Training"
Hi, i have read this article, it was very useful, everything is explained in detail thanks for this listing. if anyone wants to learn Trending software courses like **[Data Science](https://nareshit.com/data-science-online-training/)**, Programming languages, Cloud Topics Contact to NareshIT.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2020-07-31 00:29] rloutlaw commented on #185
Hi @wrjohnson !

Thanks for the feedback here. I'm working with the PowerShell team to see if we can have a good message in an upcoming blog post pointing out how to find the modules in the PowerShell gallery.

[2020-08-06 17:19] s31064 commented on #181
Spot on, rmtexas.  This is not only one of my first places to look for a problem solution (especially PowerShell), I can't begin to count the number of times our Microsoft PFE has pointed me to something here.  This repository needs to stay, even if in read-only mode.

[2020-08-06 17:29] s31064 commented on #176
Agreed.  Removing this repository would be a major mistake.  I don't care if it has to become read-only (which I think is also a mistake), but it needs to stay.  One centralized repository is far better than trying to search across God only knows how many places in GitHub, especially when you don't even know that the author migrated the content.

Please keep the gallery intact.

[2020-08-07 02:25] Hz31415 opened #187 "Offer"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3cc2eeb-65d6-a3e0-d639-897bd10abca1
* Version Independent ID: f5fedc76-74dc-6ec4-eb1a-267dd9f6d938
* Content: [Updating the navigation experience on docs.microsoft.com](https://docs.microsoft.com/en-us/teamblog/updating-navigation)
* Content Source:

[2020-09-21 14:02] perlun commented on #178
This is actually something I'd love to see as well. At the moment, even finding these issues and/or https://github.com/MicrosoftDocs/feedback/issues/504 turned out to be harder than it ought to be. Try googling _"are the ci scripts for docs.microsoft.com freely available"_ or _"ci scripts for docs.microsoft.com"_ and you'll see what I mean - a bunch of "false positives" that doesn't in any way hel

[2020-09-22 12:18] Databreachshield opened #189 "Data Breach Shield"
from future data breaches!
We provide a full report on all email accounts, enabling you to protect your data in the future
https://databreachshield.co.uk

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3dc59674-ae6e-386b-0321-225ab6d507f4
* Version Independent ID: 9436886e-d304-f362-908b-cbfcbe8b3fe6
* Content: [Microso

[2020-09-29 05:19] soniakhank opened #190 "2020 wich company Laptop best"
can you tell me wich laptop good 2020
From :- [Sonia Khan](https://www.hyderabadescortstars.com)

[2020-10-12 22:08] dend commented on #178
Way back in the day, I actually wrote a guide on this very topic: https://den.dev/blog/docs-in-cloud/

Let me know if you have any questions, will be happy to help with the knowledge I have.

[2020-10-15 22:56] #190 closed

[2020-10-15 22:57] #187 closed

[2020-10-15 22:59] #186 closed

[2020-11-10 16:47] ChrisGarty opened #191 "If a bookmarked page is updated, is a notification sent to the user?"
In docs.microsoft.com... If a bookmarked page is updated, is a notification sent to the user?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b42fca82-5d23-bc98-7c78-01b4da0abf54
* Version Independent ID: 2be86a04-0247-0d5f-50ce-967634838ba4
* Content: [Announcing Bookmarks for docs.microsoft.com](https://docs.microsoft

[2020-11-27 06:43] cheong00 opened #192 "Unable to send email apply for Moderator"
In the blog entry it invites us Moderators/Answerers to mail to msdn-tn-2qamod AT microsoft.com to apply for Moderator role at Microsoft Q&A forum. However I'm unable to do so because of the following:

[quote]
The group msdn-tn-2qamod only accepts messages from people on its allowed senders list, and your email address isn't on the list.
[/quote]

May want to check the mailbox settings, or add so

[2020-11-30 15:10] DSPatrick opened #193 "broken link"
Sending email to msdn-tn-2qamod@microsoft.com renders;

"The group msdn-tn-2qamod only accepts messages from people on its allowed senders list, and your email address isn't on the list"

Please remove the restriction on this address or change the page to another address without the restriction.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-12-07 19:14] saldana commented on #193
This was fixed last week. It was due to an issue with the configuration of the distribution list and my lack of testing as I was heading to vacation.

[2020-12-07 19:14] #193 closed

[2020-12-07 19:17] saldana commented on #192
We fixed this last week. It was due to how I setup the distribution list and my lack of testing as I was heading towards vacation.

[2020-12-07 19:17] #192 closed

[2020-12-07 21:23] DSPatrick commented on #193
Yea, just trying all avenues. Finally got Nandha to look and fix it or found someone that could.

[2021-01-07 21:49] jamesorlando opened #194 "1910 Release Notes"
This page send you to Technet Gallery, but the latest release notes there are for 1908. Github has release notes for 2002. So it seems 1910 has been archived but are not available in the archive location.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12b90746-323d-e43e-6dd4-97859717447e
* Version Independent ID: 5d68a

[2021-01-09 23:50] JanHendrikDolling opened #195 "DevOps is listed twice as a specialty for Advocate Roles"
In the "Advocate Roles" section after "who specialize in one or more of the following areas:" DevOps is listed twice.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94615642-7eb7-83dd-52f1-ef6b78c687cf
* Version Independent ID: 69e13745-a61d-9309-96b8-c102d01a70ec
* Content: [Join our team and make the world better for

[2021-01-18 22:21] yaSebastian commented on #178
I checked out your article and will certainly put working through that on my short to medium ToDo list. I would love to use the Microsoft Docs Markdown flavor with all the extensions for our internal documentation and Wikis, currently setting them up in Azure DevOps.

Maybe you can answer one or both of these questions:

- Does the workflow you describe in your guide support some/all of the MS Doc